[2016-02-03 04:12] genxstylez opened #1 "build failed"
[code]

Unexpected token

[2016-02-03 05:09] genxstylez commented on #1
Tried with the example, and same happens.

![screen shot 2016-02-03 at 1 06 28 pm](https://cloud.githubusercontent.com/assets/1086338/12773511/4cf1e2d8-ca77-11e5-93e8-de52704adbb4.png)

[2016-02-03 08:03] vitalets commented on #1
hi @genxstylez , thanks for reporting!
It seems that ES6 spread operator was not processed.
Could you provide your RN version ?

[2016-02-03 17:27] genxstylez commented on #1
It's the latest version, 0.18.1?

[2016-02-04 10:15] vitalets commented on #1
I your logs I see `node_modules/babel-core` - do you use custom babel transformation instead of react-native built-in? Could you show your package.json and .babelrc (if any)?

If init RN project from scratch `react-native init SomeProject` I have only `react-native` in `node_modules` and babel is inside, not on top level.

Anyway, If you use custom babel transformation it should be in sync with [R

[2016-02-04 11:45] genxstylez commented on #1
https://github.com/styome/shiny-winner/blob/master/package.json my package.json

[2016-02-04 18:01] vitalets commented on #1
After deep research I found the problem: having `.babelrc` inside breaks react packager.
Please try with new version 0.1.4 it should work fine.

[2016-02-05 05:58] genxstylez commented on #1
@vitalets thanks~ I will try it and come back here!

[2016-02-05 08:01] vitalets commented on #1
ok. will wait for your check. Thank you!

[2016-02-08 17:33] vitalets commented on #1
hi @genxstylez
did you get it working?

[2016-02-13 18:09] ericmuyser opened #2 "Universal support?"
Hey vitalets!

Awesome library man. It would be super cool if this could compile on web too. Do you think that would be much effort? If not, I might look into trying to do that. I'm looking for something that works in native and progressively enhances if it can (eg. inside browser).

Cheers

[2016-02-14 17:45] vitalets commented on #2
hi @ericmuyser

interesting point, did not think about it. Could you give more explanation which tasks on web it should solve?
In web for managing styles there are css preprocessors (saas, less, stylus).. aren't they do the job?

[2016-02-14 17:46] vitalets commented on #1
closing as I get feedback that it works now.

[2016-02-14 17:46] #1 closed

[2016-02-14 19:25] ericmuyser commented on #2
Hi @vitalets

If you build your components on native and you want it to run on web too, how would you do that if you are using `react-native-extended-stylesheet`? Duplicate the code?

[2016-02-15 12:48] vitalets commented on #2
Hmm.. what about components that uses original RN StyleSheets, how do they translated into css for web?
Because extended stylesheets are calculated to usual stylesheets at the end..

[2016-02-15 17:20] ericmuyser commented on #2
Personally I would just continue to do it the same as native, for consistency: inline styles. If it works on native, why re-write it on web?

[2016-02-16 11:32] vitalets commented on #2
Sorry, maybe I'm missing something.. could you show the code or repo with component that is re-used in both native and web platforms?

[2016-02-16 18:22] #2 closed

[2016-03-07 16:44] genxstylez commented on #1
@vitalets sorry, was busy, didn't check, nice to hear it!

[2016-03-30 22:02] sylvainbaronnet opened #4 "Problem with create"
Hi,

I tried to use this module without success, I always got an empty object as a result, even with the simple example on the readme.
I looked at the code and I was able to make it work by changing (in api.js) : `if (this.builded)` to `if (!this.builded)` since in my test `this.builded` was always false and it looks like it needs to go through `sheet.calc()`

Maybe i'm missing something...

[2016-03-31 13:10] grabbou opened #5 "Implement CSS `mediaQueries`"
Hey,

Cool module! I had similar idea a while ago and created that gist to demo how my internal implementation works -> https://gist.github.com/grabbou/72767db51f97fe86cfea

I don't think there's a need for yet another stylesheet package, so I was thinking we could add that in here.

Happy to merge that in, let me know what you think.

[2016-03-31 13:34] vitalets commented on #4
hi @sylvainbaronnet
do you call `EStyleSheet.build()` in entry script?

[2016-03-31 13:49] sylvainbaronnet commented on #4
Sorry it was late^^ No I didn't, I though it was only if there's vars to "build", it works correctly.

Maybe your should switch it to step 1 in doc

[2016-03-31 14:00] vitalets commented on #4
ok, will update docs.
Thanks for feedback!

[2016-03-31 16:14] vitalets commented on #5
hey, great idea!
I think we should merge it definetely.

[2016-03-31 18:29] #4 closed

[2016-04-13 10:47] tlvenn commented on #5
+1 @grabbou where is the PR ;)

[2016-04-13 11:47] grabbou commented on #5
Ah, still got no time for that! I think I'll just open my internal version and maybe one of you guys will try porting it here (or stick with it if you prefer lighter impl.)

[2016-04-13 13:00] tlvenn commented on #5
Would be great, let us know when it's ready, thanks !

[2016-04-13 17:00] vitalets commented on #5
thanks! I will try to find time for porting.

[2016-04-14 04:03] tlvenn commented on #5
@vitalets awesome 👍

[2016-04-21 14:41] xxsnakerxx opened #7 "Using with livereload"
If livereload is on, I get error on every update `Unhandled JS Exception: No need to call EStyleSheet.build() more than once`

And thanks for your work!!!

[2016-04-23 08:41] tlvenn commented on #7
Ya same thing with RN Hot Reload feature

[2016-04-24 08:38] #7 closed

[2016-04-25 07:18] #5 closed

[2016-04-25 10:34] vitalets commented on #5
@grabbou @tlvenn
hi guys
pls check when you have time with 0.2.0.
thx!

[2016-04-26 08:20] vitalets opened #9 "Ideas for orientation change support"
After implementing media queries in #5 I'm thinking about supporting orientation change somehow.
As it will allow to get full power of media queries.

Technically I see these steps:
1. catch orientation change
2. re-calculate styles
3. re-render components

I quickly searched for that topic but did not found ready to use concept how it can be implemented in RN.
I you have some ideas or experience,

[2016-04-28 15:01] vitalets commented on #9
Found refs:
https://github.com/facebook/react-native/issues/25
https://github.com/facebook/react-native/issues/3219
https://github.com/walmartreact/react-native-orientation-listener
https://github.com/yamill/react-native-orientation

[2016-05-17 20:09] ghost opened #10 "Unexpected Token 'import'"
Getting this error when running my project after adding this dependency. We're running babel (stage-2). Any idea why this is happening?

[2016-05-18 09:17] vitalets commented on #10
hi @dustinsavery
1. do you use also `preset-es2015` ?
2. do you use `import/export` in your own code?

[2016-05-22 12:40] fab1an commented on #10
I have the same problem. It has to do that babel doesn't transpile dependencies in node_modules. Those should be transpiled into a `lib` folder or similar before publishing!

[2016-05-23 22:58] amarchen commented on #9
@vitalets, shall it actually be a stylesheet business to watch for the possible orientation change and even command the components rendering?

I am playing with the extended stylesheets at the moment and while full automation of orientation handling wouldn't hurt, on demand calculation could be not that bad either.

For example, `EStyleSheet.create()` or a similar API point could return not a fina

[2016-05-23 23:02] amarchen opened #11 "Shall I memoize() the sheet if the only vars changing are media-queries related. How to do it?"
I have zero global variables for stylesheets, yet quite some changes depending on the device orientation and thus on media queries.

Therefore I am calling `create()` on every rotation. How should I `memoize()` stylesheets in such a situation not to recalculate same sheet many times or is it possible at all?

[2016-05-25 12:06] amarchen opened #13 "Media queries always assume initial device orientation on Android"
There is a known issue with Dimensions in Android that cause it to report wrong values. I guess it might be different on different devices, in my Galaxy S5 Mini running Android 5 it always gets stuck with the values app had on launch (e.g. if you start in Portrait, dimensions will be stating narrow screen width forever, even if you rotate the device). Naturally media queries relying on Dimensions

[2016-05-31 10:16] vitalets commented on #10
thanks @fab1an! Will fix it.

[2016-05-31 10:41] vitalets commented on #9
hi @amarchen ! thanks for your ideas!
I believe that while having percentage values and media-queries support, the library should keep this values in sync with screen size itself. So developer should only declaratively describe styles and no code for listening orientation.

Currently I've got working proto with the same approach as you described here https://github.com/vitalets/react-native-extend

[2016-05-31 10:49] vitalets commented on #13
Answered here: https://github.com/vitalets/react-native-extended-stylesheet/issues/9#issuecomment-222653242

After supporting orientation change it will be fixed. Looks like listening `onLayout` is the best option without any dependencies.

PS: never mind! You input is very useful! 👍  Feel free to post in case of any other issues and ideas!

[2016-05-31 10:51] vitalets commented on #11
After implementing orientation support in #9 portrait/landscape styles will be cached automatically.
Memoize is intended for cases when you create components dynamically with set of styles.

[2016-05-31 11:48] fab1an commented on #10
Check the referenced bug first, it's not easy to depend on react-native atm.

[2016-06-08 00:00] PimDeWitte opened #14 "media-queries.js file throws error when ran on Android"
So the library works great on iOS, but when I try to run the same library on Android, I receive the following error on startup.

<img width="348" alt="screen shot 2016-06-07 at 4 58 15 pm" src="https://cloud.githubusercontent.com/assets/8763534/15878599/1a8af444-2cd1-11e6-93d4-e8a33b93aee8.png">

It's on this line: `const res = Object.keys(obj).reduce((res, key) => {`

I've read up on the other is

[2016-06-08 00:08] PimDeWitte commented on #14
When removing the .build() function, it works fine, except obviously the EStyleSheets don't work, but the rest of the app functions fine. Should I call it at some other location in the app?

[2016-06-08 00:19] PimDeWitte commented on #14
I fixed it by replacing the process function in media-queries.js
`
 */
function process(obj) {

  const mqKeys = [];

  if(obj === undefined || obj.length <= 0) {
    return null;
  }
  // copy non-media-query stuff
  const res = Object.keys(obj).reduce((res, key) => {
    if (!isMediaQuery(key)) {
      res[key] = obj[key];
    } else {
      mqKeys.push(key);
    }
    return res;
  }, {});

  /

[2016-06-08 00:29] PimDeWitte commented on #14
Fixed in #15

[2016-06-08 17:23] PimDeWitte commented on #14
Reopned because issue is not fixed. I'm not sure why - but the error has returned even with the null checks.
<img width="507" alt="screen shot 2016-06-08 at 10 22 36 am" src="https://cloud.githubusercontent.com/assets/8763534/15903742/0ae68fe8-2d63-11e6-9081-6037228408aa.png">

[2016-06-15 14:02] Kerumen opened #16 "Re-build stylesheets on hot reload"
Is it possible?

I tried the following but it's not working.

[code]

[2016-06-16 09:39] vitalets commented on #16
hi,
it should be possible after https://github.com/vitalets/react-native-extended-stylesheet/issues/7
What error message you are getting?

[2016-06-16 09:44] Kerumen commented on #16
I don't have any error message. It's just not working silently.

[2016-06-16 12:09] vitalets commented on #14
hi @PimDeWitte

could you show the object that you pass to  `EStyleSheet.create()` ?

[2016-06-16 12:16] vitalets commented on #16
I think styles are re-calculated, but components are not re-rendered automatically (because `EStyleSheet.build();` does not force re-render, it's just re-calculates styles).
Could you check it somehow? Maybe call `forceUpdate()` on some component after `EStyleSheet.build()` caused by hot reload?

[2016-06-17 08:31] Kerumen commented on #16
Yup, you were right. Any ideas about how can I force the rerender ?
I can't put a `forceUpdate` in each component..

[2016-06-17 14:38] vitalets commented on #16
Agree. It's not the solution to manually update components.
Currently i'm working on re-render components on orientation change #9 and in fact it is the same task.
I think we will wrap top components into mixin that will keep them update on an style changes (no matter it was hot reload or orientation change)
So waiting for #9 here..

[2016-06-17 15:16] Kerumen opened #17 "Why round?"
I was wondering why [round all calculated variables](https://github.com/vitalets/react-native-extended-stylesheet/blob/master/src/value.js#L48)?

I blocked on this because I have a `borderWidth` variable of `0.5` but it gets rounded to `1` and it's frustrating..

React Native [already round the style](https://facebook.github.io/react-native/docs/pixelratio.html#pixel-grid-snapping) for pixel snapp

[2016-06-17 15:37] Kerumen commented on #16
Okey I will #9, thanks :)

[2016-07-03 16:10] vitalets commented on #17
hi @Kerumen

thanks for the info! I agree rounding is not needed. Could you make a pr?

[2016-07-04 06:38] #17 closed

[2016-07-04 08:26] vitalets commented on #13
closing this in favor of #9

[2016-07-04 08:26] #13 closed

[2016-07-12 13:26] bang88 opened #19 "Is there any examples how to set rem or scale on different device"
Hello.
How can i set rem or scale make it display as expected on different screen.
IOS 4S
IOS 5
IOS 6
IOS 6S+

ANDROID etc

[2016-07-12 23:30] steviesama opened #20 "auto?"
I was led to this project because someone said you could do something to the effect of `width='100%' height='auto'`.

I can't get it to work. Does this functionality exist?

[2016-07-13 15:56] sampurcell93 commented on #9
Hi, any update on this?

[2016-07-22 13:02] vitalets commented on #19
Hi @bang88

currently not. I think it may depend on app itself but seems we can make a recommendation.
It would be great if you share you experience!

[2016-07-22 13:04] vitalets commented on #20
Hi @steviesama

could you show the code that does not work as expected?

[2016-07-22 13:05] vitalets commented on #9
Hi @sampurcell93

trying to find time to finalize that. But still it is not ready to be published.

[2016-07-22 17:57] sampurcell93 commented on #9
Is there any way I can help? This orientation change feature would be huge for our company.

Thanks for the hard work!

[2016-08-02 13:28] jonlay commented on #20
Same issue here, trying to get myself scaleable images. Here's my full component, just for reference:

    import React, { Component } from 'react';
    import { Image } from 'react-native';
    import EStyleSheet from 'react-native-extended-stylesheet';

    export default class ImageDefault extends Component {
      setNativeProps(nativeProps) {
        this._root.setNativeProps(nativeProps);

[2016-08-22 03:08] brunolemos opened #22 "Questions about theming"
- How to change theme at runtime?
  For example, the app loaded `EStyleSheet.build(DarkTheme)` in the `index.js`. How to change to Light Theme? Calling `build` again does not seem to work.
- How to use a different theme per component? For example:

[code]

[2016-08-22 10:24] pvpshoot opened #23 "add composition from 'cssModules'"
How about to add Composition?
something like that:
[code]
https://github.com/css-modules/css-modules#composition

[2016-08-25 12:39] esutton commented on #22
I have same use case.

- Provide a user option to select a dark or light theme.
- When users selects a new theme it should be rendered immediately.
- All child components will be rendered using the new theme.

I have spent days trying to find a solution.  I feel like this should be built into react native core.

Any suggestions please?

[2016-08-25 23:52] brunolemos commented on #22
@esutton try http://[this](https://github.com/brunolemos/react-themable/issues/1#issuecomment-241646124)

[2016-08-26 04:24] brunolemos commented on #23
@pvpshoot why not just use the power of js? something like this:

[code]

[2016-09-01 07:51] vitalets commented on #23
Agree with @brunolemos !
I'll try to keep this lib as simple as possible.

@pvpshoot did it worked for you?

[2016-09-01 07:53] vitalets commented on #22
@brunolemos does it produce some errors or just not working silently?

[2016-09-01 10:32] pvpshoot commented on #23
@vitalets yes, its work fine

[2016-09-01 17:26] #23 closed

[2016-09-02 16:09] ibussieres commented on #19
Here is a quick and dirty version I use. It uses iPhone breakpoints for dimensions, but renders just fine on Android the 5 or 6 different sized android devices I've tried.

[code]

[2016-09-02 17:36] esutton commented on #19
Thanks for sharing.

What is definition of **"rem"** ?

[2016-09-02 17:56] ibussieres commented on #19
I'm using it for font, padding and margin sizes.

https://github.com/vitalets/react-native-extended-stylesheet#rem-units

[2016-09-02 17:59] esutton commented on #19
@ibussieres  Thanks for explaining.

[2016-09-02 18:22] ibussieres commented on #19
To be honest, I'm not sure how well this plays with accessibility settings. I would guess not so well.

[2016-09-02 20:26] esutton commented on #19
@ibussieres Yes I am struggling for a solution.  Labels, vector icons, and such get all wonky when user accessibility settings sets to a large font.

I feel I should not try to fight accessibility settings.   My tab bar text gets giant and forces tab bar icons off tab bar.  Maybe flexbox can solve.

[2016-09-12 15:31] JClackett opened #24 "first-child not working?"
Not sure if i'm making a mistake but, :first-child pseudo class doesn't seem to be working for me, last-child, even, and odd all seem to work fine?

It still takes the 'left: 50' for first child

In my styles:

[code]

[2016-09-12 15:35] JClackett commented on #24
Or if there is a way to select only the second element, that would be useful, i didnt really understand if that was possible from the docs?

[2016-09-14 13:37] AnuraagBasu commented on #22
Calling a build() anytime during runtime, throws no error and still uses the old theme that was used by build() on app start.
How to make this work?

[2016-09-16 08:16] vitalets commented on #22
@AnuraagBasu may I ask you to make a simple full example for me to get in context?

[2016-09-16 11:15] AnuraagBasu commented on #22
@vitalets This is what I'm trying to achieve in my index file.

`import React, {Component} from 'react';
import {
  Text,
  View,
  TouchableOpacity,
  AppRegistry
} from 'react-native';

import EStyleSheet from 'react-native-extended-stylesheet';

class TestApp extends Component {
  constructor (props) {
    super(props);

    this.state = {
      selectedTheme: 'classic'
    };

    EStyleSheet.

[2016-09-19 18:41] Zyphrax commented on #9
@abdallahm That looks great!
@vitalets What do you think of abdallhm's commit?

[2016-09-20 06:23] AnuraagBasu commented on #22
@vitalets I'm still trying to figure out how to make this work. Any thoughts on this?

[2016-09-23 14:30] vitalets commented on #9
@Zyphrax

I'll repost here my answer from pr:

[2016-09-23 17:14] vitalets commented on #22
@AnuraagBasu sorry for delay..
I've got you point. Currently dynamic theming is not possible, but I think it can be done.

It does not work now because `EStyleSheet` clears list or registered stylesheets after build:
https://github.com/vitalets/react-native-extended-stylesheet/blob/master/src/api.js#L94

You can try to remove that behavior and play with it.
And also keep storing stylesheets regist

[2016-09-23 20:14] esutton commented on #22
I have dynamic themes working using redux.  I am a JS newbie and redux is magic to me and I do not understand the internals of how it works.

This is not a recommendation. It is only what I have been able to get to work for myself.  Suggestions are welcome.

1. User can select "light" or "dark" theme from a menu
2. I have a reducer that sets theme and calls getThemeStyleSheet

[code]

3. getThemeS

[2016-09-24 07:23] vitalets commented on #22
@esutton yes, if you store styles in component state - it will re-render on style change. It's good idea!
I think the best approach is to pre-build both themes on start and toggle afterwards. It also seems better for performance reason.

To pre-build themes you should not pass theme variables to `EStyleSheet.build()`. Instead just pass it as local variables to `EStyleSheet.create()`:
Example:
[cod

[2016-09-26 07:54] AnuraagBasu commented on #22
@vitalets You guided me in the right direction. Thanks for that. And, by making your suggested changes in the api.js file, I'm able to make it work in my app.
As of now, I pass the Styles object from my the Main Component to all the sub-components as a prop and thus, a setState in the owner component leads to re-render of all the ownee components with the new styles.

@esutton I like your idea of

[2016-09-26 08:10] AnuraagBasu commented on #22
@vitalets Thanks for guiding me in the right direction. It does work for me now.
I like your suggestion for the other implementation as a future enhancement in the library. That would really be a much cleaner way to achieve theming.

[2016-09-26 09:45] vitalets commented on #22
@AnuraagBasu ok, thanks for the feedback!

[2016-09-30 09:44] karpoff opened #25 "media queries for global variables"
Hi

Is it possible to use medai queries while setting global variables?
I want to set different values depending on IOS/android while EStyleSheet.build but it doesn't work

PS I know that I can do it with native Platform, but probably I'll use other media queries

and thanks for great extension

[2016-10-01 15:35] vitalets commented on #25
hi @karpoff

you are right, currently it's not possible but suggestion makes sense to me.
Will try find time or pr..

[2016-10-04 17:37] arthur-tse7 commented on #22
@vitalets
I've been trying to get dynamic theming to work using your above suggestion but this line returns a null object.
`EStyleSheet.create(Object.assign({}, themeLight, srcStyles))`
Do you have any reason why it would do that and not actually create the style sheet ?

[2016-10-05 15:35] vitalets commented on #22
@arthur-tse7 could you show a bit more code?

[2016-10-06 14:26] karpoff opened #26 "get style value directly"
Hi

Is it possible to get style value directly to pass it to props?
for example I want to count it from rem or use global variable

for example
`<SomeComponent height={EStyleSheet.get('$globalHeight - 10rem')} />`
or something like this

[2016-10-06 14:53] danielCrespo01 opened #27 "styles can be updated when the screen changes orientation?"
In my view I have a main view with this I have no problems, but their children are calculated by percentages and I take the dimensions of the previous screen there any solution to this bug.

[2016-10-07 07:29] karpoff commented on #26
found it in EStyleSheet.value(...)

[2016-10-07 07:29] #26 closed

[2016-10-09 12:43] vitalets commented on #27
hi @danielCrespo01

this is mainly related to #9
Could you describe how you catch orientation change?

[2016-10-16 23:45] arthur-tse7 commented on #22
@vitalets I've abandoned dynamic theming for now, but when I get back to it, I'll reply again !

[2016-11-14 02:49] tuckerconnelly commented on #2
Hey @ericmuyser , I have a similar library that supports web and native over here :) https://github.com/tuckerconnelly/uranium

[2016-11-14 02:51] tuckerconnelly commented on #9
Hey, [Uranium](https://github.com/tuckerconnelly/uranium) supports orientation changes :)

[2016-11-14 08:25] vitalets commented on #9
hi @tuckerconnelly

could you share with us which approach you are using to detect orientation change?

[2016-11-21 13:54] tlvenn commented on #9
Hi @vitalets , I believe it leverages https://github.com/walmartlabs/react-native-orientation-listener to do that.

[2016-11-21 13:55] tuckerconnelly commented on #9
Oh sorry, how did I miss that notification? Yeah it's that ^, and then on top of that https://github.com/tuckerconnelly/react-native-match-media

[2016-12-02 13:08] fermuch commented on #9
What's the current way of listening to orientation changes? Wrapping the component as described by @vitalets ?

[2016-12-07 03:19] Randyanto opened #28 "Global styles"
I have tried something like this but I got an error. I think this is needed. Thanks.
[code]

[2016-12-08 13:21] vitalets commented on #28
@Randyanto I've got your point.
Maybe better just give access to global styles and keep `$variable` for variables only?

[2016-12-09 01:56] Randyanto commented on #28
@vitalets yeah I had found a workaround by using `package.json`
[absolute-paths-in-react-native](https://medium.com/@davidjwoody/how-to-use-absolute-paths-in-react-native-6b06ae3f65d1#.giancn7nc)

[2016-12-09 01:57] #28 closed

[2017-01-10 08:06] pampang commented on #17
Without rounding, how can I fixed lineHeight which needs its value to be an integer?

[2017-01-10 09:51] vitalets commented on #17
@pampang does not RN do it itself?

[2017-01-10 10:21] pampang commented on #17
@vitalets RN just alert an error, and that's all.
I've make it right by using my code like below:
`lineHeight: Math.round(EStyleSheet.value('1.8rem'))`

[2017-01-10 13:26] vitalets commented on #17
Ok, got it.
So it seems we should revert this change and allow RN to round when needed.

@Kerumen did you face such problems?

[2017-01-10 13:31] Kerumen commented on #17
@vitalets No, never.

I don't think we should revert this change because at the moment we can manually round as @pampang did. But if the library round, there is no way for the user to prevent this. So my `borderWidth` variable will be `1` instead of `0.5` and I can't manually change this.

[2017-01-10 14:23] vitalets commented on #17
@pampang could you screenshot an alert?

[2017-01-11 05:14] tiempham commented on #20
@jonlay fix it image: {,

[2017-01-11 06:24] pampang commented on #17
@vitalets
This issue is discussed in https://github.com/facebook/react-native/issues/7877 for a while.
I am using RN 0.37.0. Maybe it is a bug that fixed by RN 0.39.1.

[2017-01-11 08:23] tiempham opened #29 "react-native-extended-stylesheet not working with Rect native 40"
Hi all.
I have used react-native-extended-stylesheet with rn 40 but when I create stylesheet it not working. Style object react-native-extended-stylesheet no Properties when i console it. Thank all.

[2017-01-11 08:56] Kerumen commented on #17
Sorry I tested only on iOS. This seems to happen on Android.

[2017-01-11 10:10] vitalets commented on #29
hi @tiempham are there any errors / warnings ?

[2017-01-11 14:09] drdeath113 commented on #29
Hi @vitalets no error, warnings. But when I console.log('styles') as examples
`const styles = EStyleSheet.create({
  column: {
    width: '80%'         // 80% of screen width
  },
  text: {
    color: '$textColor', // use variable $textColor
    fontSize: '1.5rem'   // use relative unit - CSS3 rem
  }
});`
Object js empty.

[2017-01-12 06:34] Jiasm commented on #29
Oh, I got the same question, no error, no warnings, and no work:)

[2017-01-12 12:21] vitalets commented on #29
- updated npm dependencies
- release 0.3.1
- created empty RN project
- run App from examples

works for me on both ios and android.

@tiempham , @drdeath113 , @Jiasm
could you kindly recheck with 0.3.1 and fresh RN project?

It seems to be something with upgrading to RN 40..

My dependencies generated from `react-native init`:
[code]

[2017-01-13 02:33] tiempham commented on #29
Thank you for your quick response @vitalets, It working. Have a good day.

[2017-01-13 02:33] #29 closed

[2017-01-13 10:23] vitalets commented on #29
You are welcome! 👍

[2017-01-30 14:42] HaveF opened #30 "[suggestion]Do we need different style for iOS and android version?"
Thanks for this repo! Help me a lot.

I just read a post which introduce a interesting idea([chinese post](https://noootown.gitbooks.io/deeperience-react-native-boilerplate/content/Infrastructure/React%20Native%20Style.html)), I do not know it is worth to embedded here or not, I just post the code here.

Because iOS and android display different in same style. So they wrap things like this:

[code

[2017-01-30 15:11] vitalets commented on #30
hi @HaveF

it is already possible via [media-queries feature](https://github.com/vitalets/react-native-extended-stylesheet#media-queries)

[2017-01-30 15:11] #30 closed

[2017-01-30 15:30] HaveF commented on #30
Wow, sorry, I did notice that!
Thank!

[2017-02-08 05:09] jimthedev commented on #9
I'm using this for my orientation change stuff. It works pretty well so far.

https://gist.github.com/jimthedev/edcfe00d3f27da2a248b97559ce6e29f

[2017-02-10 13:42] vitalets commented on #9
@jimthedev thanks for sharing!
Actually as I see you are using subscription on `onLayout` event.

[2017-02-10 14:01] jimthedev commented on #9
Correct

[2017-02-24 05:08] stonecold123 commented on #22
@vitalets

I have the same problem as @arthur-tse7 's. The object created by `EStyleSheet.create(Object.assign({}, themeLight, srcStyles))` is empty.

app.js
[code]
dark.js
[code]

light.js
[code]

The console returns an empty {}

[2017-02-28 16:41] SerzN1 opened #31 "EStyleSheet.value"
My case
[code]
returns value for default rem value but I had set other build option

EStyleSheet.build({rem: 20});

[2017-03-02 14:13] vitalets commented on #31
hi, could you show full code?
Maybe you call `EStyleSheet.value('2.3rem')` before build?

[2017-03-05 09:51] vitalets commented on #22
Finally added working examples with *static* and *dynamic* themes:
https://github.com/vitalets/react-native-extended-stylesheet#theming

@stonecold123

[2017-03-05 09:51] #22 closed

[2017-03-05 09:54] vitalets commented on #31
Just re-checked example - it seems to work fine:
https://github.com/vitalets/react-native-extended-stylesheet/tree/master/examples/rem

Please feel free to reopen if problem still exists.

[2017-03-05 09:54] #31 closed

[2017-03-05 09:55] vitalets commented on #27
close as dublicate of #9

[2017-03-05 09:55] #27 closed

[2017-03-05 13:11] vitalets commented on #24
Just re-checked `:first-child` in example, it seems to work.
Please have a look on this: https://github.com/vitalets/react-native-extended-stylesheet/tree/master/examples/readme

[2017-03-05 13:11] #24 closed

[2017-03-05 13:13] #20 closed

[2017-03-05 13:14] vitalets commented on #10
All example are wiorking on actual version of RN.
Feel free to reopen if bug still exists.

[2017-03-05 13:14] #10 closed

[2017-03-05 13:43] #14 closed

[2017-03-05 13:44] #11 closed

[2017-03-10 12:48] ptomasroos opened #32 "Percentage is now available by default"
Lets move the logic in order to speed up parsing
https://github.com/facebook/react-native/commit/3f49e743bea730907066677c7cbfbb1260677d11

[2017-03-12 04:53] vitalets commented on #32
@ptomasroos thanks for sharing.
I think we should wait for RN 43 to get released and when make major release to let people keep using lib on earlier versions of RN.

[2017-03-23 10:57] mehcode opened #33 "Forward core StyleSheet properties"
Brilliant extension, thanks.

It'd be nice to be able to magically do:

[code]

I'm currently settling on this (until I figure out a nice way to do the above):

[code]

The problem is EStyleSheet is not a drop-in replacement for the core StyleSheet.

It'd be neat if `flatten`, `harilineWidth`, etc. were exposed on EStyleSheet.

[2017-03-23 11:19] mehcode commented on #9
I took a look at #21. Not a fan of the approach so far.

Instead of a very manual API ...

[code]

... how about a more automatic API using property accessors?

Take `styles.card`. This should be a (memoized) property accessor that returns the style value that is correct according to the _current_ orientation. That's literally **all** we need to do in this package.

[code]

---

A user interested

[2017-03-23 15:20] vitalets commented on #33
import {StyleSheet} from "react-native";

hi @mehcode !
I think this may be confusing for people coming/reviewing your project as it is very implicit. They will look documentation on native `StyleSheet` but will not see some methods.

this one I like! We can derive EStyleSheet from native StyleSheet.

[2017-03-23 15:25] vitalets commented on #9
I agree with you and moreover I think developer should not care about passing orientation fn to EStyleSheet. It should be detected inside lib as well as media queries in desktop browsers work - we don't pass orientation to it, we just declare rules how everything should be rendered..

[2017-03-23 19:02] mehcode commented on #9
Oh, I agree. The passing in `EStyleSheet.build` was more to override what otherwise would be detected so I could tap into the orientation changing via mobx. Looking back at what I wrote.. it is a touch wordy for something that should be as transparent as possible.

The key problem is in pure components. It'd be nice to just re-render the root on a layout change but that isn't possible if children

[2017-03-23 19:05] mehcode commented on #33
One small annoyance I have with my RN setup is I have a number of core components that you _should not use_ when coming into one of my projects. Eg. you should not be using `Text` from `react-native` and instead should be requiring the local `Text` component (because of some default properties like a custom fontFamily). It's a pain to lint for that.

That's about as hard to communicate to the rand

[2017-03-24 05:05] damathryx opened #34 "Styles returns empty Object"
I have a styles.js file and themes/default.js theme.

in styles.js:

[code]

this returns an empty Object {}.
react-native: 0.42.3

[2017-03-24 05:19] damathryx commented on #34
my stupid mistake.

[2017-03-24 05:19] #34 closed

[2017-03-24 12:37] vitalets commented on #34
never mind! :)

[2017-03-24 15:37] vitalets commented on #33
Ok, I get your point.
Could you show how your `require` for example, `Text` component?
Something like this?
[code]

[2017-03-29 21:24] lightboys22 opened #35 "EStyleSheet doesn't change view styles on Android apps"
EStyleSheet doesn't change view styles on Android apps.  (It works for iOS apps).

Below is an example...
`
<Text style={styles.header}>Hello</Text>
`
`
const styles = EStyleSheet.create({
  header: {
    color: 'red',
  }
});
`

[2017-03-30 15:36] vitalets commented on #35
Did you call `EStyleSheet.build()` ?

[2017-03-30 17:14] lightboys22 commented on #35
Thanks.  Calling EStyleSheet.build() after EStyleSheet.create() works.

[2017-03-30 17:14] #35 closed

[2017-04-05 14:40] michael-lianto opened #36 "EStyleSheet.create returned number instead of object"
Hi, thanks for this great library for styling,

I've used the old version of EStyleSheet, and it works :)
but  now i'm in a new project with RN 0.41 and the EStyleSheet 0.3.2,
i got plenty warning that invalid property type of style, it

here's where i declare the build in my app.js:
[code]

and my class
[code]
and finally, my style.js:
[code]

But the style doesn't make any effect on my layout, a

[2017-04-05 15:30] X-Tender commented on #32
Could it be currently used with the underscore syntax? Or are the values there precalculated too?

[2017-04-07 13:00] vitalets commented on #32
@X-Tender could you show a demo what you mean?

[2017-04-07 13:39] X-Tender commented on #32
Sorry I misunderstood the underscore elements. 😢

Vitaliy Potapov <notifications@github.com> schrieb am Fr., 7. Apr. 2017,
15:00:

[2017-04-07 14:22] vitalets commented on #32
Never mind :)

[2017-04-07 16:07] vitalets commented on #36
hi @michael-lianto ! Is it on IOS, Android or both?

[2017-04-09 16:39] michael-lianto commented on #36
hi @vitalets sorry the late reply,
i've only tried for android, dunno about the iOS though.

thanks for replying :)

[2017-04-10 13:39] vitalets commented on #36
Maybe it is because there is `module.exports` instead of `export default`.
Please try to change this:
[code]
to
[code]

[2017-04-11 11:54] joemckie commented on #32
@vitalets it's worth noting that that commit is tagged `0.44`, not `0.43` :smile:

[2017-04-11 12:01] vitalets commented on #32
hi @joemckie thanks for info!
I seems RN team moved this feature from 43 to 44.

[2017-04-11 13:16] joemckie commented on #33
@mehcode I don't like that, importing `StyleSheet` should return react native's stylesheet, and shouldn't be modified by an external library.

Your text component, in my opinion, is completely different, as it's clear that you're not

[2017-04-11 14:05] egormerkushev commented on #17
So, what is proper way to round line heights with EStyleSheet for Android?

[2017-04-12 06:40] vitalets commented on #17
hi @egormerkushev !
RN rounds pixel values automatically.
Do you have any warnings if you don't round manually?
[code]

[2017-04-12 06:42] egormerkushev commented on #17
@vitalets I use RN 0.42 and using not whole values for line heights causes a crash on Android 6.0 for example.

[2017-04-12 07:20] vitalets commented on #17
Yes, by https://github.com/facebook/react-native/issues/7877#issuecomment-223323649 `lineHeight` property in RN must be integer. And throws error if not.
I also think it's [inconsistent with other styles](https://react-native.canny.io/feature-requests/p/error-while-updating-property-lineheight-in-shadow-node-of-type-rcttext) (that just round values).

So especially for `lineHeight` we should round

[2017-04-12 07:22] egormerkushev commented on #17
@vitalets yep. I uprooted for this feature request yesterday. If my solution is not bad - may be it will be useful for other developers. ✌🏻

[2017-04-12 07:35] joemckie opened #37 "Variables don't support division"
Is there currently any way to implement division with a variable? Take the following example which creates a label with rounded sides:

[code]

This is throwing an error that says `$height / 2` is an unresolved variable. The docs also suggest that division isn't implemented.

Is there a reason for that or is it just unimplemented? I could take a look into it if there's nothing blocking it.

[2017-04-12 07:40] vitalets commented on #37
hi @joemckie

It seems redundant because we can replace division with multiply:
[code]

[2017-04-12 07:43] joemckie commented on #37
Hmm... true. It is a little confusing that it initially appears to be
broken though. If it won't be implemented perhaps it needs to be made
clearer in the docs?
On Wed, 12 Apr 2017 at 09:40, Vitaliy Potapov <notifications@github.com>
wrote:

[2017-04-12 08:36] vitalets commented on #37
Agree. Now will add to docs.
Also just looked on code, it seems rather cheap to support division. I think it's better as nobody read docs :)

[2017-04-12 08:38] joemckie commented on #37
Yeah I agree, it seems weird to not implement it, even if it does just
coerce `/ 2` to `* 0.5` behind the scenes. :)
On Wed, 12 Apr 2017 at 10:36, Vitaliy Potapov <notifications@github.com>
wrote:

[2017-04-13 09:43] #37 closed

[2017-04-13 13:26] joemckie opened #39 "Support for complex operations"
I saw the commit at [#633058c](https://github.com/vitalets/react-native-extended-stylesheet/commit/a9b9a1c841b1bd8f80600a79593c1b5b7533bea8) and thought complex operations would be a really handy feature actually. What do you think?

[2017-04-13 13:55] vitalets commented on #39
I agree it can be useful.
But also not trivial to implement.
We can have a look on libs mentioned in [this SO question].(http://stackoverflow.com/questions/2276021/evaluating-a-string-as-a-mathematical-expression-in-javascript)

Another thought is to use value as a function for that.
This already works:
[code]

Maybe just make it less verbose:
[code]

[2017-04-13 16:27] joemckie commented on #39
Hmm that works but IMO it's not the most elegant solution, it'd be nice if it worked inline. The way I envisioned it working was to create an array of operations from the string and to reduce it to a single value.

Pseudo-code, but something like this:

[code]

The problem I can see with trying to do it this way would be applying the correct order of BODMAS...

[2017-04-15 17:20] X-Tender commented on #32
Mmmh no? real percent values are available in RN 0.43. Or waht do you mean? :)

I fooled a bit around and changed
[code]
to:
[code]
in `value.js` and it worked out of the box. The question is just, change the % behavior there and make it maybe a breaking change or combine it with some kind of additional property.

[2017-04-23 04:16] Li357 opened #40 "Variables are included in computed styles"
Variables declared with `$<var-name>` are included in the computed styles `_style` and are thus "applied" to elements. They don't seem to be removed correctly because warnings are being logged reminding that the variable is an invalid style prop key.

[2017-04-25 17:27] yray commented on #34
@damathryx do you mind what kind of mistakes did you do? Looks like I did the same thing to you lol

[2017-04-30 09:30] vitalets commented on #40
Hi @Li357 could show example of warning?

[2017-05-08 12:44] lucasff opened #41 "Nested global variables"
[code]

Currently, this is not possible because the check is against the first letter (`charAt(0)`).
Say I want to use:

[code]
Could we have this support?

[2017-05-08 16:28] vitalets commented on #41
hi @lucasff !
Could you show the full example what do you expect?
Thanks!

[2017-05-08 17:11] lucasff commented on #41
@vitalets I updated my comment.
Thanks!

[2017-05-09 15:26] lucasff opened #42 "Global styles"
It is possible to have global styles, like we have in CSS?

[2017-05-10 14:42] vitalets commented on #42
Yes, you can create global style file
[code]
and use it in all other components:
[code]

AFAIK React Native can not automatically apply some style to components.

[2017-05-11 12:05] simonghales commented on #34
@yray Not sure if this will fix your issue, but I was having the same issue just now, I checked the readme instructions and realised I'd forgotten to follow the first step

[2017-05-11 13:40] vitalets commented on #34
Thank you @yray !
I think I will highlight it in readme.

[2017-05-23 17:28] vaukalak opened #43 "[ios] maxFontSize style property."
On ios [it's possible](http://joshbuchea.com/react-native-text-size-font-scaling/) to change font scale in accessibility settings. Right now you can control if to allow the font scaling at all in the specific text component. anyway you can't set the max scale value for that text. Hopefully there's [pixel ratio api](https://facebook.github.io/react-native/docs/pixelratio.html#getfontscale) which se

[2017-05-24 07:24] vitalets commented on #43
hi @vaukalak ,

so the goal is to limit font scaling, correct?
Maybe just support `allowFontScaling` for Android instead of introducing `maxFontSize` (that does not present in RN and may confuse people) ?

[2017-05-24 11:46] vaukalak commented on #43
hey @vitalets,
Right now my issue is on ios, and `allowFontScaling` will just on / off possibility to scale fonts in user preferences. I'd like to provide a functionality that will allow to limit scaling. right now on ios user can select x4 scale for fonts, wich breaks layout. I'd like to have API that will mention: allow to scale up this text component, but until certain value. this could be prob

[2017-05-24 16:10] vitalets commented on #43
I got the point. I think using value as a function should do exactly that:
[code]

[2017-05-24 16:47] vaukalak commented on #43
@vitalets yeah, but I think it's gonna be something like:
[code]
Do you want that in your lib, or you think that should be a separate module?

[2017-05-24 18:27] vitalets commented on #43
For me it looks more as separate module until we get many requests for that.

[2017-06-01 16:21] cyrusbowman commented on #32
+1 waiting for this.

[2017-06-02 10:10] vitalets commented on #32
Will try to find time for that on the nearest weekend.
Btw, @X-Tender, is everything goes ok with your workaround?

[2017-06-05 09:35] vitalets opened #44 "Images"
![screenshot](https://cloud.githubusercontent.com/assets/1473072/26778748/49c190be-49eb-11e7-83a1-b06372df8d85.png)

[2017-06-05 09:36] #44 closed

[2017-06-05 09:56] #32 closed

[2017-06-05 09:59] #43 closed

[2017-06-05 09:59] #42 closed

[2017-06-05 10:44] vitalets commented on #41
Hi @lucasff

`$` should be used only in top level variable name, nested sub-variables can be without it.

Working example:
[code]
Usage in the component:
[code]
Hope that helps.
Sorry for late response.

[2017-06-05 10:44] #41 closed

[2017-06-05 10:45] vitalets commented on #36
Closing as outdated.

[2017-06-05 10:45] vitalets commented on #40
Closing as outdated.

[2017-06-05 10:45] #40 closed

[2017-06-05 14:30] #33 closed

[2017-06-05 14:31] vitalets commented on #39
Finally [value as a function](https://github.com/vitalets/react-native-extended-stylesheet#value-as-a-function) should be sufficient enough for complex operations.

[2017-06-05 14:31] #39 closed

[2017-06-29 21:44] JulioC opened #45 "EStyleSheet.memoize does not work for Object params"
If you pass objects to a memoized function, it considers that the value is the same, due to use of `Object.toString` (indirectly called, when it uses `Array.join`) when creating the cache key.

Code to reproduce the error:

[code]

See [src/memoize.js#L7](https://github.com/vitalets/react-native-extended-stylesheet/blob/master/src/memoize.js#L7)

[2017-06-30 08:56] vitalets commented on #45
Hi @JulioC

I've checked [lodash.memoize](https://lodash.com/docs/4.17.4#memoize)- it works the same way.
The solution for object params is described here: https://github.com/caolan/async/issues/96

I think I will deprecate `EStyleSheet.memoize` in favor of `lodash.memoize` that can accept custom hash function to deal with objects. also it can be installed as [separate package](https://www.npmjs.c

[2017-07-02 18:51] JulioC commented on #45
Lodash uses a reference for the args as a cache key. In fact I was using it as a workaround on my code.

I believe deprecating it is a nice move, since it's beyond the scope of stylesheets!

By the way, the code in the first post was wrong, the correct is to use the same object:

[code]

[2017-07-03 05:43] aniruddhashevle opened #46 "CSS psudo class or psudo elements selectors like after and before in react native"
Is it feasible to use css psudo class or psudo elements selectors like after, before, etc in react native? Or any other way around out there?

Or could we do something to make it feasible in this amazing package?

[2017-07-03 11:27] vitalets commented on #46
hey @aniruddhashevle !
Currently `after / before` pseudo classes are not supported as I did not get the requests for that.
Could you describe the problem that you want to solve?

[2017-07-03 11:27] #45 closed

[2017-07-03 11:38] vitalets commented on #45
Removed in 0.6.0. Thank you! 👍

[2017-07-03 14:15] Vlad-Zhukov commented on #45
Have a look at [moize](https://github.com/planttheidea/moize), it's fast and supports serialization of arguments.

[2017-07-06 09:32] raarts commented on #9
(RN beginner here). Can you explain why that isn't possible?

[2017-07-06 09:57] mehcode commented on #9
Pure react components will _only_ re-render if props or state changes. Unless Orientation is passed through as props all the way down your tree you couldn't easily re-render the whole tree based on orientation.

---

For what it's worth, I dropped this package and am using a scaled viewport. I don't need this scale to change if the orientation changes. Flexbox already handles resizing and repositi

[2017-07-06 10:16] raarts commented on #9
Thanks. Yes, this is one of such cases where you decide early, and changing it afterwards turns out a huge amount of work.

[2017-07-07 10:06] vitalets commented on #9
@mehcode thanks for sharing the idea!
Do you have different layouts on different orientations or you always only stretch?

[2017-07-07 10:33] raarts commented on #9
Mmm, do I understand this correctly? For iPhone 6:

[code]

Now on an iPad:

[code]

These days wouldn't it be easier to use percentages for everything, since that's supported by React now?

[2017-07-07 17:37] mehcode commented on #9
Oh. Percents would work exactly the same way. I just find it far harder to mentally translate a design (that is usually dictated in pixels on the designers computer or relative to something they have like an iPhone) to percents.

Put another way. It's easy to ask a design team to define layout relative to an iPhone 6 (all mock programs I've seen support that) and then your development team can jus

[2017-07-07 18:44] raarts commented on #9
THAT is a very good point. Thanks!

[2017-07-07 20:10] raarts commented on #9
@mehcode: how do you handle heights?

[2017-07-07 21:58] mehcode commented on #9
Same function. It works by applying a ratio.

Width of your device is exactly `vu(375)` and the height is `vu(667)`.

[2017-07-08 11:53] vitalets commented on #9
Thanks @mehcode ! I think we can go the same scale-only way.

[2017-07-10 08:18] raarts commented on #9
@mehcode : what's the reason for using the 100-factor? I think it can be done like this as well:

[code]

[2017-07-10 08:30] mehcode commented on #9
@raarts Because I used to export `vw` and `vh` before React Native added `%` support. You're totally right it can be simplified as the extra variables aren't needed.

FYI that snippet is released as `rn-viewport` ( https://github.com/mehcode/rn-viewport ). I'd accept those changes as a PR if you're willing to contribute them.

It does need a README.

---

I disagree on the `screen` bit though. Scr

[2017-07-10 13:06] raarts commented on #9
@mehcode : any remaining advice on where to apply the vu() function. I am currently implementing it, and I seem to be applying it to everything but borderWidth. Sometimes I doubt about padding and margin though. Do you radically apply it everywhere?

[2017-07-10 13:31] raarts commented on #9
After testing on an iPad Air 2 everything doubles in size, including screen headers, fonts in many places (but not in others, where I didn't specify specific font size). Which proves the vu() function works. But still, it wasn't entirely what I expected. Some more thought needs to go into this.

[2017-07-11 08:23] sm2017 opened #47 "Using static theme (change theme without app reload)"
1- Is it possible to use static theme and no app reload to theme change? for example when I want to change theme , Just call `EStyleSheet.build` and `forceUpdate` again

2- Is dynamic theme need cashing ? IS dynamic theme need stylesheet creation in every render() call?

[2017-07-12 12:55] vitalets commented on #47
1. So you are talking about dynamic theme change, not static. Calling `forceUpdate` is not enough, because it will update only root component, but not children (see: https://github.com/facebook/react/issues/3038).

2. Yes, the best way is to pre-built both themes and keep them cached. Please have a look on [dynamic theme example](https://github.com/vitalets/react-native-extended-stylesheet/tree/ma

[2017-07-12 15:49] sm2017 commented on #47
In my first question I don't talk about dynamic theme I talk about static theme .

This library is awesome but I have 2 major problem
First is orientation change is not supported (https://github.com/vitalets/react-native-extended-stylesheet/issues/9) and Really I need orientation change

Second problem is static theme is very easy to use but dynamic is not as easy as static and also If I have 20+

[2017-07-15 06:37] sm2017 commented on #47
@vitalets any idea?

[2017-07-15 11:27] vitalets commented on #47
Your case is interesting. I agree that caching 20+ themes looks overhead and the best approach is to dynamically build selected theme.

Currently this is not supported in EStyleSheet. But it can be done by changing two places as I described here: https://github.com/vitalets/react-native-extended-stylesheet/issues/22#issuecomment-249249919

I would appreciate I you play with it and share the result

[2017-07-16 05:03] sm2017 commented on #47
@vitalets I think we can re-render all components by do following

Assume we have `<App/>` and it contain whole application , we can surround  it with `<Theme>`

[code]

When we change theme , we change `status` to `loading` and when theme is loaded , `status` is `loaded`

[code]

(i know we lost states , but it is better than reloading application)

[2017-08-06 17:40] gastonmorixe commented on #16
Any updates on this? I have  styles.js file and it is not updating on hot reload.

[2017-08-07 10:43] vitalets commented on #16
@gastonmorixe Could you provide a simple snippet demonstrating it?

[2017-08-08 04:58] sm2017 commented on #47
Any update?

[2017-08-08 10:28] vitalets commented on #47
@sm2017 sorry for delay, lost this thread. Approach looks good to me!
So the goal is to re-calculate all styles after theme change - I will try to find time for that.

By the way, could you show the whole example how you see this? For example with `<Switch>` component that toggles theme.

[2017-08-09 19:24] myoung-CS commented on #25
How do I vote on this? Would love this feature! :+1:

[2017-08-10 11:11] vitalets commented on #25
@myoung-CS this comment is enough 😉

[2017-08-14 13:47] syedirfan7 opened #48 "warning : There appears to be trouble with your network connection. Retrying..."
I am trying to install the examples folder i get the below issue
using : react-native init ExtendedStyleSheetExample

![error](https://user-images.githubusercontent.com/6966314/29274319-1088dbec-8125-11e7-9873-7e421e2c8f6c.png)

[2017-08-15 09:49] vitalets commented on #48
hi @syedirfan7 It seems to be issue with your network connection.
`ExtendedStyleSheetExample` is just a directory name.

Please, close the issue if everything ok now.

[2017-08-16 11:39] syedirfan7 commented on #48
yes it was because of network !! solved it and worked as expected.. thank you !!

[2017-08-16 11:39] #48 closed

[2017-08-17 14:58] klujanrosas commented on #36
I just ran into the same problem:
[code]

I got a number instead of an object when trying to pass the style object as a prop to another component like this:

[code]

When I console log styles.container it outputs a number. (Pic is of alert)
![screenshot_4](https://user-images.githubusercontent.com/4474353/29418630-8988d240-8332-11e7-8974-2eef046a0385.png)

[2017-08-17 15:56] Christopher2K opened #50 "Global styles 'Unresolved variable' error"
Hi,

I'm trying to get all my style values in `EStyleSheet.build({...});` but I'm experiencing some troubles with the error "Unresolved variable: $<VAR_NAME>".

Here's my code:

[code]

[code]

[code]

And, the weird thing is that If I remove $RAD, it works with the others values ($ORANGE etc...)

Thank you for your help !

[2017-08-25 14:24] AnthonyLamot opened #51 "Outline for debugging not working?"
From: https://github.com/vitalets/react-native-extended-stylesheet#outline-for-debug

I just gave it a try but didn't manage to get it working. Any ideas?

[code]

In my `app/index.js`

[2017-08-28 06:59] vitalets commented on #36
will have a look.

[2017-08-28 07:00] vitalets commented on #51
Will re-check! thank you!

[2017-08-29 17:49] vitalets commented on #36
As I re-checked - this is intended behavior for React Native styles. They operate IDs instead of objects for performance reasons. Please see details here: https://facebook.github.io/react-native/docs/stylesheet.html#stylesheet

To get back style from the ID you can use `EStyleSheet.flatten(styles.container)`.

[2017-08-29 17:49] #36 closed

[2017-08-29 17:52] klujanrosas commented on #36
I saw that one could also access the actual style by prepending a '_' to the style name, like:
styles._container
Thanks for clarification!

[2017-08-30 07:30] vitalets commented on #36
@klujanrosas yes, exactly. It was done before `.flatten` appeared.

[2017-09-01 06:39] DenisDov opened #52 "Aspect-ratio"
How to use aspect-ratio media query. Need example. Thanks!

[2017-09-07 07:26] alvinwoon commented on #16
+1. HMR is broken for some reason. Using it via Expo tho.

[2017-09-11 07:12] deadcoder0904 opened #53 "Rebuild StyleSheet Global Variables"
I have posted this on Stack Overflow too. Kindly take a [look](https://stackoverflow.com/questions/46149943/rebuild-react-native-extended-stylesheet)

[2017-09-11 07:17] deadcoder0904 commented on #53
Also, I have seen Dynamic Styles too, but I think my approach is easy & can be done..Idk 🤔  how but    😂

[2017-09-29 15:05] vitalets commented on #16
I'll keep this open to not forget about hot reload.

[2017-09-29 15:25] vitalets commented on #52
For example, set red color for aspect-ratio greater than **9/16**:
[code]

[2017-09-29 15:25] #52 closed

[2017-09-29 16:05] vitalets commented on #51
I tried with [example for readme screenshot](https://github.com/vitalets/react-native-extended-stylesheet/blob/master/examples/readme) - everything works for me:
[code]
![image](https://user-images.githubusercontent.com/1473072/31024772-d0003776-a548-11e7-9a54-fbf62e224152.png)

Could you re-check and reopen with your code if problem still exists.
Thanks!

[2017-09-29 16:05] #51 closed

[2017-10-04 07:30] AnthonyLamot commented on #51
Hi @vitalets, sorry for not getting back sooner. Unfortunately I don't get it to work yet.

From my `index.js`:

[code]

This file is located in an `App` folder. There are separate index.js files to initiate on Android or iOS, but I don't think that should be a problem?

I am using `react-native run-android` on a connected device, but I think that is fine too?

[2017-10-04 16:04] AnthonyLamot commented on #51
@vitalets that actually makes a lot of sense. I simply had not considered it. Thank you for clarifying and your help! (As well as updating the doc.)

[2017-10-09 06:18] mauricekraus opened #56 "declaration file for DefinitelyTyped"
Would it be possible to deliver a TypeScript type definitions file, for those people how use react-native with typescript

[2017-10-09 08:50] #47 closed

[2017-10-09 08:50] #53 closed

[2017-10-09 09:03] deadcoder0904 commented on #53
Hey @vitalets is it done or can it be done ?

[2017-10-09 09:05] deadcoder0904 commented on #53
Is [#theming](https://github.com/vitalets/react-native-extended-stylesheet#theming) docs about it ?

[2017-10-09 10:21] vitalets commented on #50
Hi @Christopher2K, sorry for delay.
Could you show exact error message, which variable is unresolved?

[2017-10-09 10:22] #25 closed

[2017-10-09 10:40] vitalets commented on #53
Hey! It is done in master and I plan to release 0.7.0 today.

[2017-10-09 10:41] deadcoder0904 commented on #53
Cool great work. Awesome project 😍

[2017-10-09 10:43] vitalets commented on #53
yes. Currently it looks like theming is only feature that needs to re-build global vars.

[2017-10-09 10:53] vitalets commented on #56
Good point! I would appreciate if someone help with it.

[2017-10-10 07:45] mauricekraus commented on #56
alright I will try to come up with something

[2017-10-10 09:09] vitalets commented on #56
@mauricekraus thank you! 👍

[2017-10-15 11:29] deadcoder0904 opened #57 "Question: When to use underscored styles ❓"
I have read the docs about `underscored styles` but don't know what to use & why ❓

Currently, I'm using `styles._text` styles everywhere bcz once `styles.text` was not working.

So @vitalets  if u can explain when to use `underscored styles`❓

[2017-10-16 11:36] vitalets commented on #57
hi @deadcoder0904 !
Underscored styles are intended for components with explicit styling attributes. For example, `<Icon color="red">`. If you already defined styles for text:
[code]
 and want icon color to be the same, you can reuse text's style:
[code]

[2017-10-16 12:00] deadcoder0904 commented on #57
Cool got it thanks 🎉

[2017-10-16 12:00] #57 closed

[2017-10-18 13:54] faresite commented on #50
Hello, I am experiencing a similar problem. I am using Expo.
In my entry App.js I have the build call:

[code]

Then in my component (it's a swiper):

[code]
and that didn't work. And I tried this way too:
[code]
And I get the same error.

<img width="382" alt="screen shot 2017-10-18 at 14 52 51" src="https://user-images.githubusercontent.com/12860328/31722485-2274fcba-b414-11e7-8424-01900843d8e5.

[2017-10-19 07:41] vitalets commented on #50
hi @faresite !
Could you add this line right before calling `EStyleSheet.value('$blue')`:
[code]
Let's see what is in global variables.

[2017-10-19 12:50] faresite commented on #50
hi @vitalets , what I got was:
[code]

[2017-10-19 13:57] kenshinman opened #58 "App Crashes When Percentage is used [Expo]"
Hi, thanks for this package.
I just  that my app crashes whenever i declare a percentage value. Example code below.

[code]

When ever I comment out the percentage line, Everything works find.
### Edit

Seems this only happens when I use it on any `margin` value
Is this a bug? Thakns

[2017-10-20 08:24] deadcoder0904 opened #59 "Common styles ?"
Is there any way to create Common styles since I'm repeating a lot of code.

Currently, my approach is

[code]

But, I think the following approach would be much better

[code]

So that in my component I will only do this -

[code]

Someway the Component would be much more readable. What do u think @vitalets ❔

[2017-10-20 19:54] deadcoder0904 opened #60 "Multiple math operators"
Currently only 1 operator is supported, so if I have to do the following I can't

[code]

Instead I have to do

[code]

So for many operators this becomes unnecessary & this happens for quite a few use cases that I've encountered in the past few weeks or so

[2017-10-21 00:13] Christopher2K commented on #50
Hi @faresite & @vitalets ,

Sorry I totally forgot about this issue. It was caused because I had the RN Debugger opened with Chrome with the device toolbar activated !
I fixed it by deactivating this toolbar.

[2017-10-21 15:55] vitalets commented on #58
Hi @kenshinman !

could you show a screenshot with error?
I've tested with that snack https://snack.expo.io/ryjR31tpZ - it works for me.

[2017-10-21 16:11] vitalets commented on #59
hi @deadcoder0904 !

I got you idea. Maybe like this:
[code]

[2017-10-21 16:32] vitalets commented on #60
Yes, it seems to be rare cases.
Multiple operators support is not trivial - we should consider operators priority and maybe support brackets - all this increases complexity.
I'm thinking about setting such values [via function](https://github.com/vitalets/react-native-extended-stylesheet#value-as-a-function). Something like this:
[code]
Currently this will work only with *global* variables.
But te

[2017-10-21 16:35] vitalets commented on #50
@Christopher2K thanks for the info!
@faresite could you share the expo link so I can try to reproduce it?

[2017-10-21 17:26] deadcoder0904 commented on #59
Yaa I thought about that too, but then I might create a lot of objects

[2017-10-21 17:31] deadcoder0904 commented on #60
When complex UI comes, its not a rare case. As I am developing many RN apps right now, I feel that need because for different devices, the UI doesn't seem to work. `react-native-extended-stylesheet` reduces lot of my work & this particular case is what makes me to create unnecessary local variables. Thank you for this repo. It really helps a lot 😄

[2017-10-23 09:34] vitalets commented on #59
From the performance perspective creating many little sheets that just serve as commons looks not good - as each real sheet causes style creation on native side that anyway takes some resources. I think storing common parts in helper objects is ok: you don't create unneeded sheets and can always group them to have more clean code:
[code]

[2017-10-23 09:37] vitalets commented on #60
ok, thanks for the feedback!
Will such approach be sufficient for you tasks?
[code]

[2017-10-23 10:21] deadcoder0904 commented on #59
Cool enough 👍

[2017-10-23 10:22] deadcoder0904 commented on #60
Yep that works perfectly fine

[2017-10-24 08:52] #59 closed

[2017-10-24 08:53] vitalets commented on #60
Ok. I will have a look.

[2017-10-25 13:52] ArmandoAssuncao opened #61 "Get value in other theme"
Hi, i have define a `lightTheme` how default, how could i get a value of the another theme?
something like:

[code]
is there any way to do this?

thanks :-)

[2017-10-25 14:37] vitalets commented on #61
Hi! Could you describe more why you need this?

[2017-10-30 13:40] deadcoder0904 opened #62 "Global Objects"
So I am running into an use case where I have default themes.

Suppose I'm creating a `H1` component with default styling & the app also has variety of themes of `H1` component.

Now if I make a global variable `$H1`

[code]

Then if I want to use it in styling of `H1` I have to do

[code]

So this approach is tedious because now when I put some default style in the global object, I've to add it t

[2017-10-30 20:22] kirakik opened #63 "Writing jest snapshots?"
Hello,

I've been using this library for a while, but I was disappointed to find our that jest snapshots do not work with it. Is there any plan to make it compatible?

Thank you

[2017-10-31 07:41] vitalets commented on #62
How about using `EStyleSheet.value` to put default style:
[code]
and to extend default style with custom property:
[code]

[2017-10-31 07:44] vitalets commented on #63
Hi @kirakik ! Could you show example of your test and what you expect?

[2017-10-31 08:05] deadcoder0904 commented on #62
Well, I don't realise there exists `value()`

My bad 😂 but lemme check

[2017-10-31 08:09] deadcoder0904 commented on #62
Hey also, another problem is I am using themes so I am exporting just plain JS objects. So how would I do this with themeing 🤔

[2017-10-31 08:27] vitalets commented on #62
oh, I think I was a bit wrong. It should be:
[code]
and
[code]

[2017-10-31 08:30] deadcoder0904 commented on #62
Sorry to make this SO but I thought this feature didn't existed.

A detailed question would be like this -

I have 2 themes - `light` & `dark`

### `light.js`

[code]

### `dark.js`

[code]

Then I build my StyleSheet

### `App.js`

[code]

& then use styles in my application like

[code]

[2017-10-31 08:31] deadcoder0904 commented on #62
Man that's what I thought but it wasn't working. Wait I'll check again.

[2017-10-31 08:49] deadcoder0904 commented on #62
@vitalets I'm getting confused.

I didn't get this one, is `$H1` created in `EStyleSheet.build()` already

[code]

The later part I got. This is used while styling a particular component.

[code]

My problem is I am using Themes & it gives error that `Unresolved Variable $H1` bcz it is not created yet. Can u give me an answer for my use case ❔ Is it possible to use value with Themes ❓
Bcz Value ca

[2017-10-31 13:32] vitalets commented on #62
Yes, `$H1` is assumed to be global variable created by `EStyleSheet.build()`:
[code]
Then it can be used in sheet creation:
[code]

Yes, it is possible.

Yes. `EStyleSheet.value()` is intended to be used inside value as a function, because build occurs later (as you correctly mentioned)

[2017-10-31 14:08] vitalets commented on #62
Hmm.. I should re-check it.

[2017-10-31 16:22] vitalets commented on #62
@deadcoder0904 I've re-checked - yes, currently *style* as a function is not supported. Only *value* as a function. That's why this does not work:
[code]
I've done this locally - it works normally on your code. I will add some tests and release within 1-2 days. Thanks for the ideas =)

[2017-10-31 16:30] deadcoder0904 commented on #62
So it doesn't work, right ❔ Are u adding this feature ❓

[2017-10-31 17:33] vitalets commented on #62
Yes. It does not work now. I will release it soon.

[2017-11-01 09:06] vitalets commented on #46
close as outdated.

[2017-11-01 09:06] #46 closed

[2017-11-01 12:11] vitalets commented on #16
Released support of HMR in 0.8.0. Also added a [docs section](https://github.com/vitalets/react-native-extended-stylesheet#hot-module-reload).
Feel free to reopen in case of any issues.

[2017-11-01 12:11] #16 closed

[2017-11-02 08:51] vitalets commented on #62
Released as 0.8.0. I will appreciate your feedback!

[2017-11-03 07:18] harwinvoid opened #64 "Invalid prop 'width' of type 'string', Expected 'number'"
[code]
![img_0911](https://user-images.githubusercontent.com/12931494/32363426-4cfb103e-c03d-11e7-9080-804fcd522b89.PNG)

RN version 0.30
ios 11

[2017-11-07 08:07] vitalets commented on #64
Hi! It's because of RN version that does not support percents natively. I will think what we can do.
By the way, could you share the reasons why you don't update RN?

Related: https://github.com/vitalets/react-native-extended-stylesheet/issues/32

[2017-11-07 18:20] miguelocarvajal commented on #9
Adding my 2 cents to this...

I am currently testing react-native-extended-stylesheet with react-native-web and my basic tests show it works well so far.

It would be nice that any forthcoming support for orientation changes plays well with react-native-web.

[2017-11-09 00:01] miguelocarvajal opened #65 "Error building app with react-native-web"
I haven't read anywhere that react-native-web is supported but everything works just fine until I try to build the project using "yarn build" where I get the following error:

[code]

If I remove react-native-extended-stylesheet then it works again. Not sure what is going on here?

Am using the re-start project (https://github.com/react-everywhere/re-start) to have react native for mobile devices

[2017-11-11 13:12] vitalets commented on #65
Hi! This is because React Native packages are historically published in ES6 / 7.
The [workaround suggested by `react-native-web`](https://github.com/necolas/react-native-web/blob/master/docs/guides/getting-started.md#web-packager):
[code]
For [re-start](https://github.com/react-everywhere/re-start) I've got it working by the following:
1. Eject project to get access to webpack configs:
[code]
2. I

[2017-11-11 13:12] #65 closed

[2017-11-16 04:42] deadcoder0904 commented on #62
Sorry @vitalets I didn't do it yet. I'll test it now 😄

[2017-11-16 05:25] deadcoder0904 commented on #62
@vitalets Dude, you are absolutely amazing 👍
Thank you soooooo much ❤️

[2017-11-16 06:32] vitalets commented on #62
You are welcome! 😉

[2017-11-21 05:56] deadcoder0904 opened #66 "Override Global Objects Styles"
Sometimes we need to Override Global Styles at only one place & rest must apply default styles.

For example -

### Default config -

[code]

[code]

### Proposed config -

[code]

[2017-11-21 07:31] vitalets commented on #66
What do you think about more "css" approach - use composition of styles instead of override?
[code]

[2017-11-21 09:32] deadcoder0904 commented on #66
Yep, that can be great too. Idk why I always go the hard way 😂

[2017-11-21 09:32] #66 closed

[2017-11-21 09:51] vitalets commented on #66
It's the best way to learn new things! ;)

[2017-11-21 23:17] mike866 commented on #63
You need to build stylesheet before running test suites, small workaround would be:

In `__mocks__/react-ntive-extended-stylesheet.js`:

[code]

[2017-11-27 18:28] deadcoder0904 opened #68 "Scaling for different devices ❓"
This topic bugs me a lot. So I googled how to make RN project for multiple devices like iPad, etc.. & to my avail a little to nothing came up. I stumbled upon a [blog post](https://blog.solutotlv.com/size-matters/) which helped things to put in perspective & now the same guy has made [react-native-size-matters](https://github.com/nirsky/react-native-size-matters) which is an awesome library.

So s

[2017-11-30 06:29] harwinvoid commented on #64
it a long story

[2017-11-30 06:31] harwinvoid commented on #64
thank a lot。 the reason is a long story

[2017-11-30 10:07] vitalets commented on #64
Anyway, the workaround can be done by value as a function:
[code]

Feel free to reopen if needed.

[2017-11-30 10:07] #64 closed

[2017-11-30 10:09] deadcoder0904 commented on #68
Hey I've read the complete docs now & I think with this library everything can be supported using media-queries, REMs & scaling. But using media-queries & stuff would rather increase LOCs & using `react-native-size-matters` will reduce LOCs. Anyways my issue is irrelevant now as this library does everything.

[2017-11-30 10:09] #68 closed

[2017-12-04 05:32] leggomuhgreggo commented on #19
@ibussieres @esutton re: accessibility & rem https://alastairc.ac/2017/11/is-text-sizing-dead/

[2017-12-04 11:39] Krizzu opened #69 "Support shorthands"
Hey!

Thanks for this cool tool. I was wondering if you'd like to support css shorthands (like, `padding: 5 10 5 8`), which consequently changes that to `paddingTop: 5, paddingRight: 10, paddingBottom: 5, paddingRight: 8`.

I'd happy to help with that.

[2017-12-05 08:24] vitalets commented on #69
Hey @Krizzu !
I think it makes sense.
There are some more cases that should be considered:
1. Variables:
[code]
2. Calculations:
[code]
I think we should deny calculations in shorthand props as it is impossible to parse normally.

So, you are welcome to take leadership on this 👍
Also the following project could help: https://github.com/styled-components/css-to-react-native

[2017-12-06 08:15] Krizzu commented on #69
Great!

I'll dive in on the weekend

[2017-12-10 20:33] Krizzu commented on #69
Hey @vitalets 👋
Need suggestion here: using `css-to-react-native` requires styles to have `px` unit to be parsed. How should I proceed with that fact? Append units to values or allow them to be passed in shorthands?

Thanks 👍

[2017-12-12 11:30] vitalets commented on #69
Could you add some tests to see how adding `px` will work with different cases?
Will not it break variables and percents?
1. `padding: '$a 1 2 3'`
2. `padding: '10% 1 2 3'`

Why can not we support all?

[2017-12-12 12:34] vikrantnegi opened #71 "How to use global value in third party component properties?"
I'm using a third party component librabry called `react-native-elements` it has various prebuild react native components like checkboxes, buttons etc.

I'm using one checkbox component and it has prop `checkedColor` which is used to basically define color of the checkmark icon when the checkbox is checked.

Now I want to use my global variable `$primaryColor` to used as a value in the prop like t

[2017-12-12 17:37] Krizzu commented on #69
Will not it break variables and percents?

Yeah, I still have to add functionality for it, will add test to prove it's working.

Some of them are `background` which just evals to `backgroundColor`, or `borderWidth`, which already defines all borders in RN.

Here's a list that I believe is supported by `css-to-react-native`, we can choose which make sense and add them

https://github.com/styled-com

[2017-12-12 18:05] vitalets commented on #71
I think `checkedColor={EStyleSheet.value('$primaryColor')}` should do the job.

[2017-12-13 03:03] vikrantnegi commented on #71
Wow, that works and it's so simple.
Though I believe this deserves a mention in the documentation.
Thoughts?

[2017-12-13 12:54] vitalets commented on #71
@vikrantnegi the similar way:
[code]

[2017-12-13 16:58] vikrantnegi commented on #71
Thanks.

[2017-12-14 08:55] vitalets commented on #71
Agree! I would appreciate if you add this as PR =)

[2017-12-15 07:53] #71 closed

[2018-01-09 23:44] golestanirad commented on #50
I have the same issue too

[2018-01-10 08:43] tuanluu-agilityio opened #76 "Lib not working on Storybook???"
I got issues when using `react-native-extended-stylesheet` on `storybook`. Look like storybook can't using this lib, it's mean I have using lib on components, but when calling components on storybook stylesheet not working. When I change from `EStylesheet` to `Stylesheet`, it's working fine. Anyone here have same issue with me and how resolved that?

### Version:
    "react-native-extended-stylesh

[2018-01-10 13:24] vitalets commented on #50
@golestanirad could you show a sample code?

[2018-01-11 02:48] tuanluu-agilityio commented on #76
I found the problem on my issue. The storybook working independent with app, so we need import `EStyleSheet.build` to `index` file of `Storybook`.

Thanks all watching.

[2018-01-11 02:48] #76 closed

[2018-01-11 09:14] vitalets commented on #76
Thanks for sharing the solution!

[2018-01-22 04:40] golestanirad commented on #50
@vitalets
[code]

...

[code]

[2018-01-22 04:44] golestanirad commented on #50
I get
`globalVars null `
too

[2018-01-22 09:58] vitalets commented on #50
@golestanirad
I think it's because `EStyleSheet.build()` actually occurs **after** you try to get value of variable.
Have a look on this:
[code]
It works. But if we change the order:
[code]
It throws `Unresolved variable: ...`.

The solution is to wrap property with `EStyleSheet.value` into function. EStyleSheet guarantees that such function will be called after the styles build:
[code]

[2018-01-22 17:05] golestanirad commented on #50
Hi @vitalets thanks for your help
I used that fat-arrow thing and now it throws this new error:
`"model" is not a valid style property`

[2018-01-24 10:26] vitalets commented on #50
@golestanirad could you show more code? Because "model" does not apear in lib sources, it maybe error in other place of your code.

[2018-01-24 16:44] LRNZ09 opened #77 "App crashes when using percentage styles"
Hi, I'm trying to use the library but it suddenly crash when I use percentage styles.

Please see the snack below (it's the same example given in README):
https://snack.expo.io/@lrnz09/estylesheet-percentage-crash

[2018-01-27 10:09] vitalets commented on #77
@LRNZ09 Thanks for reporting! I've fixed it in 0.8.1.
In #32 I didn't consider that case. In math operations percents should be always calculated despite of native support in RN.

[2018-02-02 04:41] golestanirad commented on #50
@vitalets

[code]
it doesn't work and gives me the waring:
Failed prop typeL Invalide prop `color` supplied to 'Text': function color(){
return_reactNativeExtendedSheet2.default.value(`$headerTitleColor`)

[2018-02-02 08:21] vitalets commented on #50
@golestanirad
It seems that `EStyleSheet.create()` is not applied to `headerTitleStyle: { ... }`.
If `StackNavigator` does not call  `EStyleSheet.create()` inside, you should add it explicitly:
[code]

[2018-02-04 09:50] corysimmons opened #78 "Thoughts on converting from JS obj to actual CSS syntax?"
[code]
becomes
[code]

Not important. Just a stylistic tweak.

[2018-02-04 12:41] raarts commented on #9
BTW I'm also using this with react-native-web, and now scaling became a problem. You can rotate  your phone to landscape, and scaling will work, but if you project that same landscape screen in a web browser, now suddenly everything gets really big.

Also, you cannot rotate a monitor, or laptop (at least the system won't get an event), but you can scale the browser window dynamically.

For laying

[2018-02-05 01:36] juliusspencer commented on #56
Hi,

Just put this together which is working for me:

[code]

[2018-02-05 15:28] vitalets commented on #78
How this will be look inside the code? Just a string?
Maybe have a look on [styled-components](https://github.com/styled-components/styled-components).

[2018-02-05 18:56] corysimmons commented on #78
I hear styled-components hit React Native performance pretty hard.

In styled-jsx they do:

[code]

The perf hit might be converting the template literal to a pojo during runtime which might hit mobile devices harder than PCs.

[2018-02-06 08:10] AnthonyLamot commented on #77
I'm on 0.8.1 but it crashes all the same?

[2018-02-07 10:20] vitalets commented on #77
@AnthonyLamot could you show Expo link or source code?

[2018-02-07 14:14] AnthonyLamot commented on #77
@vitalets was following a tutorial (https://github.com/EQuimper/youtubeMeetupAppReactNativeNode) and was making my own version of this file: https://github.com/EQuimper/youtubeMeetupAppReactNativeNode/blob/master/meetupme-mobile/src/screens/home/components/styles/MyMeetupsList.js

I switched back to ESS 0.0.4 cause I saw the guy who created the tutorial was using that one without issue.

[2018-02-08 09:13] vitalets commented on #77
I see that [expo-sdk-16](https://github.com/EQuimper/youtubeMeetupAppReactNativeNode/blob/master/meetupme-mobile/package.json#L19) from the example uses RN 0.43.2 that does not support percent values natively. The support was added in RN 0.44 and EStyleSheet started to proxy pure percents in #32 since v0.5.0.
Now I understand that moving to native percents was not done properly. Because many devel

[2018-02-08 10:12] AnthonyLamot commented on #77
Cool. Honestly I'd go with option #3. I'll update my RN version in this project. 😄

[2018-02-08 10:53] vitalets commented on #77
Ok! Let me know if it's ok after upgrading RN.

[2018-02-10 08:32] AnthonyLamot commented on #77
I got it to work with:

[code]

Hope that helps @vitalets !

[2018-02-11 12:32] vitalets commented on #77
@AnthonyLamot

[2018-02-11 12:32] #77 closed

[2018-02-15 02:25] corysimmons commented on #16
@vitalets Non-support for HMR is still mentioned in README under caveats. https://github.com/vitalets/react-native-extended-stylesheet#caveats

If you're happy with 0.8+ implementation of it, can we remove that warning from README?

[2018-02-15 11:07] gastonmorixe commented on #16
is HMR working when styles are in a external file? It's not working for me (in React Native 0.53)

[2018-02-15 14:34] vitalets commented on #16
@gastonmorixe Could you show some demonstrating code if possible?

[2018-02-22 18:46] obetomuniz opened #79 "Is possible to use it with size-matters?"
The scaling feature is based on a scale function that uses absolute dimensions values of an element to resize.

I want to use relative dimensions based on device dimensions to keep the aspect of my app with a complex layout in more than one device screen. Can I use some way to customize it and/or abstract some third-party library or custom function with the extended-stylesheet library? Like this [

[2018-02-23 08:42] vitalets commented on #79
@obetomuniz
1. Could you show a short snippet how you solution looks with .value()?
2. Is not it possible to set `$scale` value based on device dimensions? Something like this:
[code]

[2018-02-23 12:14] obetomuniz commented on #79
Hey @vitalets, thank you for the feedback :D

Using the size-matters formula that provide for use `scale`, `verticalScale` and `moderateScale `, the `.value()` will be something like this:
[code]

As you can see, it will be verbose and hard to maintain a huge application. Is there some way to create global functions or mixins?

[2018-02-23 12:18] obetomuniz commented on #79
FYI: I want to avoid static responsive values like `const scale = deviceWidth < 300 ? 1 : 1.5;` once we have a bunch of screen dimensions (width/height) to support.

[2018-02-23 12:29] obetomuniz commented on #79
Doing some research and thinking out of the box 😂 ... Is possible to create something like this:

[code]

Is there some way or suggestion to remove the `*` operator and use just `number$formula`? Like this:

[code]

[2018-02-24 14:12] vitalets commented on #79
I think ideally we should not have `100@s / 100$s / 100 * $s` for scaling. Just `100`.
Currently EStyleSheet supports single scaling factor for all directions.
And these two examples are equivalent:
1.
[code]
2.
[code]
But the second looks more clean to me.
As I understand the problem - you need separate scaling factor for **vertical** and **horizontal** directions. Yes?

For me it sounds reasonab

[2018-02-24 14:24] obetomuniz commented on #79
Wow! I'll consider this solution. My concern is that it is not based in a specific dimension of device to use as reference as you can see [here](https://github.com/nirsky/react-native-size-matters/blob/master/lib/scalingUtils.js#L4).

[2018-03-04 16:12] navinprasadk opened #80 "letterSpacing will work or not ?"

[2018-03-07 06:56] vitalets commented on #80
@navinprasadk Could you show the code?

[2018-03-07 08:46] navinprasadk commented on #80
`import { Dimensions } from 'react-native';
import EStyleSheet from 'react-native-extended-stylesheet';

const imageWidth = Dimensions.get('window').width / 2;
export default EStyleSheet.create({
  container: {
    alignItems: 'center',
  },
  containerImage: {
    alignItems: 'center',
    justifyContent: 'center',
    width: imageWidth,
    height: imageWidth,
  },
  image: {
    width: imageWid

[2018-03-15 13:03] mike866 opened #81 "Percentages are handled in confusing way."
The way library handles it right now seems to be confusing. How about splitting percentages based on parent and screen to two (or three) separate units.

My proposal would be to handle it the way it's working on the web, so:

- `X%` - uses native RN implementation.
- `Xvw` - uses screen's width
- `Xvh` - uses screen's height

I can jump on it and make PR, but let's discuss the idea at the beginnin

[2018-03-21 15:21] vitalets commented on #81
Good proposal.
What do you think we should do for expressions with percentage like `width: '100% - 20'`?
it seems such code should throw error as in new implementation it should be replaced with `width: '100vw - 20'`.

[2018-03-24 12:35] shubhi15 opened #82 "Extended styles sheets not working with React native version 0.53.3"
Hello

I am trying to use EStyleSheet.create method to create my styles but it is returning me empty object.
Code refrence
import EStyleSheet from 'react-native-extended-stylesheet';

const styles = EStyleSheet.create({
  background: {
    backgroundColor: '#fff',
    flex: 1,
  },
});
console.log("exported category styles");
console.log(styles)
export default styles;

my console statement returni

[2018-03-25 19:32] vitalets commented on #82
Hi @shubhi15!

Do you call `EStyleSheet.build()` in your code?

[2018-03-25 19:34] vitalets commented on #50
Closed as outdated. Feel free to reopen if you need.

[2018-03-25 19:34] #50 closed

[2018-03-26 12:09] shubhi15 opened #83 "Themes not getting updated at runtime"
Hello
I have tried example
 https://github.com/vitalets/react-native-extended-stylesheet/tree/master/examples/theming

But it is only updating variables if styles are specified as inline styles. within component
If styles within component is referenced from outside files then styles are not getting updated even after re-rendering of component.

Regards
shubhi

[2018-03-26 14:22] vitalets commented on #83
hi @shubhi15 !

could you show how you changed the example so it stopped to work?

[2018-03-26 17:11] shubhi15 commented on #83
I am using it in similar way as described in example but it is not working with referenced styles but works well with inline styles

[2018-03-27 11:11] vitalets commented on #83
Please, show the code.

[2018-03-27 11:54] shubhi15 commented on #83
Hello PFB code i am using for dynamically updating themes:
In this inline style text box color is updated if i click ob change theme but ouside style text box color not getting updated.

import lightTheme from '../commonStyles/light';
import darkTheme from '../commonStyles/dark';

EStyleSheet.build(lightTheme);

class CategoryScreen extends Component {

  constructor() {
    super();
    this.stat

[2018-03-28 10:49] vitalets commented on #83
Seems you should check `state.render` flag inside `render()` and return null to actually re-render component. Otherwise React caches component tree and does not update styles:
[code]

Feel free to reopen if it does not help.
I also created expo example for testing themes: https://snack.expo.io/HyujGlKcf

[2018-03-28 11:30] vitalets commented on #58
Re-checked again - everything works.
Feel free to re-open if the problem still exists.

[2018-03-28 11:30] #58 closed

[2018-03-28 11:43] vitalets opened #84 "Create examples in Expo"
It would be useful to copy [examples](https://github.com/vitalets/react-native-extended-stylesheet/tree/master/examples) as an [Expo snacks](https://snack.expo.io) and add links in readme. Then everyone can easily try extended stylesheets.
Already done for theming: https://snack.expo.io/HyujGlKcf

[2018-03-28 11:46] vitalets commented on #61
Theme is just and object so you can directly get value from it:
[code]

[2018-03-28 11:46] #61 closed

[2018-03-28 11:52] vitalets commented on #80
@navinprasadk
According to RN docs [letterSpacing](https://facebook.github.io/react-native/docs/text.html#style) is supported only for iOS.
For Android I found this package: [react-native-letter-spacing](https://www.npmjs.com/package/react-native-letter-spacing)

[2018-03-28 11:52] #80 closed

[2018-03-28 17:46] shubhi15 commented on #83
Nope theme is still not updating.... :(

[2018-03-29 09:17] vitalets commented on #83
@shubhi15 Could you modify my [expo example](https://snack.expo.io/HyujGlKcf) with your code to demonstrate it?

[2018-04-09 22:45] anderllr commented on #82
I'm with the same error, and I called EStyleSheet.build() in my App.js file.

[2018-04-10 15:29] vitalets commented on #82
I think this is because styles are imported (and executed) before `EStyleSheet.build()` call.
Imagine you have `app.js`:
[code]

and `styles.js` is:
[code]

If this does not help, please show your code as Expo snack using this template: https://snack.expo.io/@vitalets/extended-stylesheet-simple

[2018-04-10 17:13] anderllr commented on #82
Thanks @vitalets you're right, I've forgotten to call the js file where EStyleSheet.build(); was configured.

[2018-04-10 18:15] vitalets commented on #82
You are welcome!

[2018-04-10 18:15] #82 closed

[2018-04-14 03:36] FantasticSWT opened #85 "EStyleSheet.create - undefined is not an object."
![image](https://user-images.githubusercontent.com/38369131/38763889-b86fd434-3fd7-11e8-9873-fe29d3e8ff3a.png)
![image](https://user-images.githubusercontent.com/38369131/38763891-cc2a6624-3fd7-11e8-83ea-597b1109f1d5.png)
I tried to look at the library, but I think should be no prob. And I had added build at app entry.

![image](https://user-images.githubusercontent.com/38369131/38763896-ecf5c308-

[2018-04-14 08:43] vitalets commented on #85
hi @FantasticSWT ! The problem is in import statement.
There should be:
[code]
instead of:
[code]

[2018-04-14 08:43] #85 closed

[2018-04-24 22:12] Noitidart opened #86 "Question: Can I uncache, and re-cache just one regular noraml StyleSheet"
You have a super module here. However I didn't need all of this. I just had one StyleSheet in my entire app, I needed to use a variable in there for a color. I want to uncache it from native, re-build it. May you please show how I can do this?

[2018-04-25 09:52] vitalets commented on #86
hi @Noitidart !
Could you show the code how you expect it should work?

[2018-04-27 16:27] Noitidart commented on #86
Thanks so much for asking and willing to help.

I have code like this:

[code]

[2018-05-07 17:30] ohm924 commented on #81
Sorry If my english makes you all confused.
Same as @mike866. I think it is good that we can use vw and vh.
Then I'd decided to edit the code by add tryCalcViewport function in value.js
[code]

and insert function into action array at calcString and calcOperandValue
[code]
and
[code]
Now I can use vw vh and still use %.

Especially I create vp to force calculate by prop name same as % do.
Not sure

[2018-05-17 07:34] NguyenPhatBG commented on #42
I know a new way to create Global style, and if we're combined react-native-extended-stylesheet, It's so crazy :)
Need create a new file Global.js, create a global variable like this.
export styles = StyleSheet.create({
 container :{
  flex: 1,
  justifyContent:'center',
  alignItems:'center'
}
}) ,
....
global.GlobalStyle = styles;
Now simpler to import ./Global.js to App.js (file root)
All app y

[2018-05-31 20:07] hatahetahmad opened #88 "Can Not Find Global Variable"
#### Steps to Reproduce

1. I defined global variable on my style sheet.
2. after calling this variable error shows 'Can't find variable $largeImageSize' .
3. When I hover on $largeImageSize with holding Control on Windows I get any.
4. I use Windows 10 and Android Emulator.

#### Try in Expo

#### Expected Behavior

I'm trying to change Logo to small Size when Keyboard activated then get back the

[2018-06-04 11:30] vitalets commented on #88
Hi @hatahetahmad!

Is there `EStyleSheet.build()` in your code?

[2018-06-04 12:00] hatahetahmad commented on #88
Yes, In my Index File

After testing my app again it works fine,
I really don't know why.

[2018-06-04 12:51] #88 closed

[2018-06-14 08:00] geminiyellow commented on #63
hi @mike866 , i try to import this mock before running jest test, but it show

[code]

is there a runnable Jest example ?

[2018-06-16 06:32] vitalets commented on #63
hi @geminiyellow ! Which version of jest are you using?

[2018-06-18 01:42] geminiyellow commented on #63
@vitalets

1. yep,  in `__mocks__`
2. latest

[2018-06-21 23:42] hiddentao opened #89 "Added NPM package to make using @media queries easier - integrate via PR?"
I created an NPM package to make using media queries easier - https://github.com/hiddentao/react-native-extended-stylesheet-breakpoints

Example, assume you have two width breakpoints - at 800px and 400px - and one
height breakpoint at 500px. You would normally write:

[code]

You can now instead write the above much more succinctly:

[code]

@vitalets  I'm happy to raise a PR to get this integrat

[2018-06-25 10:50] lukephills commented on #56
Here is a similar approach to 'react-native-stylesheet' which works well for me.

[code]

[code]

[2018-07-02 15:07] vitalets commented on #89
Hi @hiddentao !

Although this method of writing @media is really compact it seems to me not very declarative.
I think keeping it as an external package is ok.

[2018-07-02 15:07] #89 closed

[2018-07-02 15:09] vitalets commented on #86
Closing as the question is answered.

[2018-07-02 15:09] #86 closed

[2018-07-03 13:07] vitalets commented on #63
A working example with Jest snapshot testing:

1. Create RN project:  `react-native init AwesomeProject`
2. `cd AwesomeProject`
3. Create test in `__tests__/app-test.js`:
[code]
4. Run test to ensure everything works on this step: `jest`
[code]

5. Now add `EStyleSheet` to project:
[code]
6. Use EStyleSheet in `index.js` and `App.js`:
   **index.js**
[code]
   **App.js**
[code]
7. Build styles bef

[2018-07-03 13:07] #63 closed

[2018-07-07 02:31] eayllon1 commented on #83
Having the same problem. Styles stay with the dimensions they were loaded into with, even after refreshing the component, when the stylesheet had been made external.

[2018-07-09 09:34] vitalets commented on #83
@eayllon1 Could you show a demo code of problem?

[2018-08-05 08:48] mohammad-goldast opened #91 "Unresolved variable: $PRIMARY_COLOR + Jest test"
Hello everyone !
I need to write TDD for my react-native projects.
When i run `npm test`, i got an error like this issue title.

I need to know, how can i set EStyleSheet variable to jest !
[**SEE Full ERROR !**
](http://s6.uplod.ir/i/00931/s1qoc4rduh9z.png)
File : **Login.test.js**

        import { TextInput } from 'react-native';
        import React from 'react';
        import Login from '../

[2018-08-06 16:04] vitalets commented on #91
Hi @blackhair !

It seems you mistyped `describe` instead of `it`:
[code]

[2018-08-15 10:38] lukephills commented on #56
Nice idea but, if i wanted to add a style like this: `@media (min-width: 350) and (max-width: 500)`, I'd have to add this string into the type definition.

Unless there's a way of allowing any string key type?

[2018-08-15 13:12] lukephills commented on #56
I originally tried that, but it doesn't work. I'm unsure why

[2018-09-01 14:34] sivagao opened #92 "Any plan to provide typing file"
#### Steps to Reproduce

#### Try in Expo

#### Expected Behavior

#### Actual Behavior

#### Show the code

#### Environment

[2018-09-03 05:07] UdayKandpal opened #93 "flex: 1 does not work"
Properties like
   **flex: 1**
   **flexDirection: 'column'**
do not work with EStyleSheets.create() method. They do not render on the View container.

[2018-09-10 13:44] vitalets commented on #93
Please create an expo sample reproducing the issue.
Use this [expo template](https://snack.expo.io/@vitalets/extended-stylesheet-simple).

[2018-09-10 13:44] vitalets commented on #92
Please see #56 .

[2018-09-10 13:44] #92 closed

[2018-09-17 14:59] vitalets commented on #56
Ideally only keys starting with `@media ` should be allowed. Possibility to augment key is discussed in Microsoft/TypeScript#12754.

[2018-09-18 17:10] alvaroTech911 opened #95 "Hi I have installes `EStyleSheet @^0.9.0` using yarn"
#### Steps to Reproduce

  1. I installed the module using yarn
  2. Imported it into my component
  3. I created my styles like I would using `Stylesheet.create` but replacing it with `EStyleSheet` but none of my style rules apply.

#### Show the code
[code]

#### Environment
 React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i5-7360U

[2018-09-18 18:41] vitalets commented on #95
Have you called `EStyleSheet.build()`?

[2018-09-20 08:22] IvanLinos opened #96 "Outlining using global stylesheet doesnt work"
Hi,
Im moving most of my local styles to a global file which is shared across the app (in a kind of bootstrap-like library) and loading this styles file in App.js.
Everything works fine except the outlining, which still working for local styles, but not for the ones on the global shared file.

App.js
[code]

Styles.js
[code]

Component.js // outlining wont work here!
[code]

So... It is any way to

[2018-09-20 10:05] vitalets commented on #96
Hi! So you need to outline _all_ components when setting global `$outline`, right?

[2018-09-20 13:53] IvanLinos commented on #96
That is, need to outline any component using any global style (`EStyleSheet.value('$abc')`) from Styles.js

[2018-09-23 14:51] vitalets commented on #56
Writing full strict declaration file for Extended StyleSheets looks to be a tricky (impossible?) task,
because EStyleSheet actively operates with dynamic keys:
- variables (started with `"$..."`)
- media queries (started with `"@media..."`)
- underscored output keys (started with `"_..."`)

Moreover all these keys are optionally merged into a single object.

I've tried to adopt @stochris's idea to

[2018-09-24 11:47] vitalets commented on #96
I've got your point. You are using _style as a function_ feature.
Frankly speaking, I'm not a fan of it because it makes styles less declarative.
It's better to pass in `EStyleSheet.build()` only variables and store common styles as separate module.

What about this solution:
**main.js**
[code]
**common-styles.js**
[code]
**component.js**
[code]

Then, you can easily enable outline in _all common

[2018-09-24 16:17] IvanLinos commented on #96
Your suggestion not only works like a charm but also it really feels the way it should be, so thank you very much for pointing me out in the right direction, i have refactored all my code and now its much easier to write and read when combining multiple styles like:
`<View style={[ESS.w50, ESS.bgBlack]}`

And also thanks for creating and maintaining this great component! 👌

[2018-09-24 16:31] vitalets commented on #96
You are welcome! 😉

[2018-09-24 16:31] #96 closed

[2018-09-27 08:48] IgorVanian opened #97 "Percentage error: "JSON value of type NSString cannot be converted to a YGValue.""
Hi,

Since upgrading to 0.10 with RN57, percentage values crash with the following error:

![image](https://user-images.githubusercontent.com/16898357/46133876-d959bd80-c241-11e8-88d4-f0858994b62f.png)

#### Steps to Reproduce
Use percentage values in styles.

#### Expected Behavior
Should work as usual?

#### Actual Behavior
JSON parsing goes nuts

#### Show the code
[code]

#### Environment

Rea

[2018-09-27 09:33] vitalets commented on #97
Hi @IgorVanian!
I will re-check.
Two questions:
1. If you search the whole project for "95%0" - no entries?
2. Do you use typescript?

[2018-09-27 09:35] IgorVanian commented on #97
@vitalets nope, no entries. I don't use TS.

When I change 95 to for example 90, the error says 90%0.

[2018-09-27 10:06] vitalets commented on #97
Just checked on fresh app via `react-native init` and `npm i react-native-extended-stylesheet`. Not reproduced.
Could you re-check on fresh app in your env:
**App.js**
[code]

[2018-09-27 11:04] IgorVanian commented on #97
Never mind, I found the source of the problem: https://github.com/facebook/react-native/issues/11472

[2018-10-08 14:02] #84 closed

[2018-10-16 17:53] joelgetaction opened #99 "Parsing fails for Text shadowOffset"
#### Steps to Reproduce

Have some style variables set like:
[code]
then use them in a stylesheet:
[code]
This fails with `Invalid prop 'shadowOffset.width' of type 'string' supplied to 'StyleSheet title', expected 'number'`.  So `EStyleSheet` doesn't seem to be parsing nested properties like `shadowOffset`.

Any ideas how to do this properly without resorting to hacks like defining const values o

[2018-10-17 09:11] vitalets commented on #99
Hi @joelgetaction! I will check.

[2018-10-31 23:53] dphaener opened #100 "No styles created in React Native 0.57.x"
#### Steps to Reproduce
1. Create new RN 0.57.x app
2. Create a stylesheet with `EStyleSheet.create`
3. Import into a component and attempt to use it
4. Get an empty stylesheet.

#### Try in Expo
Expo doesn't currently run RN 0.57.x

#### Expected Behavior
I thought I would get a stylesheet

#### Actual Behavior
I got an empty stylesheet

#### Show the code
[code]

#### Environment
[code]

[2018-11-02 09:40] MeganGilligan1 commented on #93
@UdayKandpal Did you find a fix for this?

I've changed my Stylesheet.create to EStyleSheet.create and it just seems to break it - as if it's not working with Flex.

![image](https://user-images.githubusercontent.com/25102188/47907382-0b82be80-de83-11e8-8d3f-a196cc2d68f6.png)

[2018-11-12 16:10] vitalets commented on #100
Hi @dphaener !
Did you call `EStyleSheet.build()`?

[2018-11-12 16:13] dphaener commented on #100
@vitalets Indeed I did! I ended up just removing this library completely, because we were only using it for percentage widths, which is now supported natively. This can be closed from my perspective, unless you want to leave it open for the sake of possibly finding a bug. I'll leave it up to you.

[2018-11-12 17:33] vitalets commented on #100
Just checked latest `react-native-extended-stylesheet@010.0` - it works correctly on RN 0.57.4 on both ios and android.

[2018-11-12 17:33] #100 closed

[2018-11-15 15:28] vreality64 opened #101 "result doesn't have Object prototype chain"
#### Steps to Reproduce

It's basic concept question. It could be bug or not based on situation.
There is some console warning when use React Native's `FlatList` component with created style sheet.

[code]

#### Expected Behavior

It shouldn't warn anything.

#### Actual Behavior

there are console warning in development mode

[code]

#### Show the code

[This code](https://github.com/vitalets/rea

[2018-11-16 14:58] vreality64 commented on #101
@vitalets
As you can see, [`StyleSheet.create({ ... })`](https://github.com/facebook/react-native/blob/master/Libraries/StyleSheet/StyleSheet.js#L361-L374) actually doesn't do anything on prototype. RN original stylesheet has prototype chain, because they return original object.

Here are [code sandbox link](https://codesandbox.io/s/q3j01q82vq?autoresize=1&module=%2Fsrc%2FApp.js).

[2018-11-17 01:57] BlaShadow commented on #50
I also want to point this out, for futures devs with the same issue.

https://github.com/vitalets/react-native-extended-stylesheet#value

[code]

[2018-11-19 10:45] vitalets commented on #50
@BlaShadow thank you!

[2018-11-19 10:47] vitalets commented on #101
@vreality64 Thank you!
Will fix it and release.

[2018-11-20 17:09] darekg11 commented on #19
Bumping after long time but let's assume I use those:
[code]

Wouldn't it need to rebuild every time that orientation of device changes? How can I achieve that?  Asking because you might launch app in `landscape` with a big width value and after rotation to `portrait` everything will be too big due to basic rem value not being changed. Or am I doing something wrong?

[2018-11-21 09:21] vitalets commented on #19
Your concerns are ok.
Dynamic orientation change is long story being discussed in #9.
You can call `EStyleSheet.build()` with new `$rem` value after orientation change, but also you'l need to re-render the whole app to apply new styles.

[2018-11-22 11:18] #93 closed

[2018-12-07 18:17] deklanw opened #102 "Values as props to 3rd party components"
I need to supply an object like this as a prop to React Navigation:

[code]

Because I can't guarantee `build` has been run at this point, I have to do a bunch of tedious wrapping with `create` and `value`.

I can't, however, figure out how to properly do `drawerWidth`, `activeTintColor`, and `inactiveTintColor`, as they aren't objects. Clearly I could just use regular variables instead, but that

[2018-12-11 12:03] vitalets commented on #102
Hi @deklanw !
Maybe [subscription](https://github.com/vitalets/react-native-extended-stylesheet#subscribe) to `build` event can help?
[code]

[2018-12-11 16:45] #99 closed

[2018-12-11 16:45] #101 closed

[2018-12-12 17:25] rmevans9 opened #103 "0.11.0 breaks array styles"
#### Steps to Reproduce
Create a style with a transform

[code]

#### Try in Expo
https://snack.expo.io/ByFeEa0kN - Working on 0.10.0
https://snack.expo.io/SkQZETAJV - Not working on 0.11.0

#### Expected Behavior
Transforms should work.

#### Actual Behavior
Transforms are not working (locally they even redbox)

#### Show the code
[code]

#### Environment
[code]

[2018-12-17 09:46] #103 closed

[2018-12-17 09:52] vitalets commented on #103
@rmevans9 Thanks for report!
Hot-fixed and released as 0.11.1.
Also improved tests for checking array props.

[2018-12-19 11:38] #78 closed

[2018-12-19 11:38] #79 closed

[2018-12-19 11:38] #83 closed

[2018-12-19 11:39] #60 closed

[2018-12-19 11:39] #91 closed

[2018-12-19 11:39] #95 closed

[2019-01-30 11:34] Amit2530 opened #104 "Estyle sheet in Type script"
When we try to use the EstyleSheet in type script file of React native project then the styles are not working as expected ?

[2019-01-31 10:32] vitalets commented on #104
Please provide more details: error messages, screenshots, etc.

[2019-02-01 18:48] IgorVanian commented on #97
@mccordgh from what I understand, you’re somehow transforming your initial %age value to another or parsing it through something that doesn’t work with string values and that what %ages are. In my case it was animating a %age value in a way it couldn’t be done.

[2019-02-01 18:49] mccordgh commented on #97
Thanks, Igor.

In my instance the issue only arose on iPhone X, and had to do with setting `height` to `"100%"` in Header.js theme file...

I was only able to discover this through process of elimination.

[2019-02-03 07:19] Amit2530 commented on #104
When i use the normal style then UI is working properly, can you refer below screen shot --
![stylesheet](https://user-images.githubusercontent.com/41721563/52173827-ef096180-27a4-11e9-97fb-7c66e53669e8.jpeg)

And when i try to use the style through the Estyle sheet then it is not working as we are expectin, please refer below screen shot --
![estylesheet](https://user-images.githubusercontent.com

[2019-02-07 10:47] vitalets commented on #104
Have you called `EStyleSheet.build()` in the code?

[2019-02-07 11:27] Amit2530 commented on #104
Yes

[2019-02-07 11:28] Amit2530 commented on #104
Yes, we are trying to use the type script in our react native project.

[2019-02-16 12:33] #102 closed

[2019-02-19 15:50] jfishy commented on #91
can this be re-opened, currently experiencing this bug

[2019-02-22 17:24] vitalets commented on #91
@jfishy could you show your code sample demonstrating bug?

[2019-02-22 21:00] jfishy commented on #91
@vitalets fixed issue by including the following in my package.json file
 "setupFiles": [
      "./testenv.js",
      "./assets/colors.js"
    ],

[2019-02-22 21:01] jfishy commented on #91
Error was caused by calling StyleSheet.value('$primary1') in code

[2019-02-28 20:54] lynndylanhurley opened #105 "Feature request: `:not` selector"
Would you be willing to support the [`:not` selector](https://developer.mozilla.org/en-US/docs/Web/CSS/:not)?

I can take a stab at a PR if it's something you're willing to support.

[2019-03-01 10:36] vitalets commented on #105
I've checked - original RN StyleSheet does not support `:not`.
Could you elaborate how it can be done?

[2019-03-13 08:10] joelgetaction commented on #16
NOTE: This code:
[code]
will crash release builds instantly on launch that are uploaded and distributed via TestFlight, so be sure to exclude it from your release builds.

[2019-03-13 16:00] vitalets commented on #16
@joelgetaction Could you show the crash trace?

[2019-03-14 13:39] magrinj commented on #9
@vitalets I'm not sure about my suggestion, but maybe by using `Dimensions` listener from `react-native` you should be able to detect if device move from portrait to landscape or the other way around just by checking if the `width` is higher than the `height`, you don't even need to have it inside a component and just listen globally
Hope that's can help

[2019-03-18 15:34] vitalets commented on #9
@magrinj looks like good solution! 👍
There was no `Dimensions.addEventListener` before. Do you know in what version of RN it appeared? And does it work on both ios/android?

[2019-03-18 15:40] magrinj commented on #9
@vitalets From what I read it appeared from the version `0.43` of React-Native and yes is works on both iOS and Android :)
I guess you can use it and add a warn for people using react-native under this version tag (to avoid breaking changes), as it's actually 16 versions earlier

[2019-04-02 12:12] ShrinathGupta commented on #63
Issue still persists.
"jest": "23.6.0",
 "react-native": "0.57.5",

[2019-04-02 17:12] vitalets commented on #63
Could you show more details?

[2019-04-03 08:27] pgonzalez-santiago commented on #83
Same problem here.

[2019-04-03 11:58] huestack opened #106 "Property 'child' does not exist on type 'typeof EStyleSheet'."
Function `child` is missing in typings for react-native-extended-stylesheet.
When using it with Typescript, calling `child` method fails with following error message:

*Property 'child' does not exist on type 'typeof EStyleSheet'.*

#### Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
      Memory: 245.03 M

[2019-04-05 09:10] ShrinathGupta commented on #63
I am getting following error.
    TypeError: _reactNativeExtendedStylesheet.default.create is not a function
 module.exports = EStyleSheet.create( { });
I tried to do export default as well. But it didn't work.

[2019-04-11 15:19] vitalets commented on #63
This is something due to ES modules import.
Could you show how you import/require EStyleSheet?

[2019-04-15 09:36] guopeng1994 commented on #83
so ? any update?

[2019-04-15 10:57] vitalets commented on #83
Please provide the details: sample code / expo snack showing the problem. Otherwise it is impossible to help.

[2019-04-15 12:28] #104 closed

[2019-04-15 19:00] gurs1kh commented on #69
One way to get around this is to allow for arrays to be used.
ie:
[code]

This also is a good stylistic alternative to using a space-separated string

[2019-04-15 22:56] sven09 commented on #65
Hey @Vitalets,
the answer is now some days old ;-D.
I tried to use it in an expo / react-native-web scenario - without success. Is this answer still valid or do you know some new solutions?

Thanks

[2019-04-22 10:23] vitalets commented on #65
Hi @sven09 Could you show some output / errors?

[2019-04-22 10:25] vitalets commented on #69
Agree. Looks nice! 👍

[2019-04-23 04:28] gungdeaditya opened #107 "Need to combine Stylesheet in order to create global styles"
Is it possible if we use spread operator to combine stylesheet, because I tried but had no succeed

[2019-04-23 11:39] Gerasimov94 commented on #106
same

[2019-04-23 12:09] Gerasimov94 commented on #106
As temporary solution, you can create a types.d.ts file in root folder of your application and use this:

`
import {AnyObject} from 'react-native-extended-stylesheet';

declare namespace EStyleSheet {
	export function child(styles: AnyObject, type: string, index: number, arrLength: number): AnyObject;
}

declare module 'react-native-extended-stylesheet' {
	export = EStyleSheet
}
`

it's working fi

[2019-04-26 10:48] VasylenckoSlava commented on #97
In my case  flatListItem: {
    width: "100",
    overflow: "hidden",
    marginBottom: 5,
    justifyContent: "space-between",
    borderBottomWidth: 1,
    borderColor: "grey"
  }

typo   width: "100",  i need width: 100

[2019-04-28 15:57] huestack commented on #106
@Gerasimov94 Thanks. I did that eventually.

[2019-05-07 10:53] #105 closed

[2019-05-10 03:17] pwnn opened #108 "Can I change $rem dynamically?"
Can I change $rem dynamically? Like:

[code]

[2019-05-12 23:30] #108 closed

[2019-05-14 18:36] ShrinathGupta commented on #63
Resolved, it was related to module export. Thanks @vitalets

[2019-05-17 15:33] vitalets commented on #107
Yes, it is possible. Could you show the code how did you try?

[2019-05-17 15:51] #106 closed

[2019-05-29 18:12] edwang2007 commented on #107
I am having the same issue.

`import EStyleSheet from 'react-native-extended-stylesheet';
import globalStyles from '../GlobalStyles';

const styles = EStyleSheet.create({
    ...globalStyles,
    container: {
        flex: 1,
    },
});`

`import EStyleSheet from 'react-native-extended-stylesheet';

const globalStyles = EStyleSheet.create({
    headerContainer: {
        flex: 1,
        alignSelf

[2019-06-14 03:06] dhl1402 opened #109 "EStyleSheet.subscribe callback get called only one time"
When style is already built, EStyleSheet.subscribe's callback will get called only one time immediately. Is this designated behavior??

[2019-06-17 18:17] vitalets commented on #107
hi @edwang2007 !

Is it possible for you app to define global styles as raw object?
For example:

**GlobalStyles.js**
[code]

**Component.js**
[code]

[2019-06-17 18:19] vitalets commented on #109
hi @dhl1402 !
No, the callback should be called on every `EStyleSheet.build()`.
Could you show a demo code?

[2019-06-25 09:13] dhl1402 commented on #109
Sorry for late reply. Totally forgot about this.
Here the code of your `subscribe` function:
[code]
If styles is already built, the listener will be called but will not be saved for the next `EStyleSheet.build()` calls.
I will add a snack later 😀

[2019-06-25 12:16] jibraniqbal666 opened #110 "Does not build layout on first load, Upgraded from React-Native 0.57.7 to 0.59.9"
#### Steps to Reproduce
  1. Describe steps
  Recently upgraded from 0.57.7 to 0.59.9. Only appeared in iOS
  2. to reproduce
 Recently upgraded from 0.57.7 to 0.59.9
  3. the issue
 On first build it does not build layout, that is why screen looks ugly as not styles applied.
 Works on reload (Debug)
 Do not work on Release mode completely .

#### Try in Expo

#### Expected Behavior

Does not buil

[2019-06-25 14:46] dhl1402 commented on #109
hi @vitalets, here the reproduce snack. please take a look 😀
https://snack.expo.io/@dhl1402/react-native-extended-stylesheet-reproduce

[2019-06-26 15:28] vitalets commented on #109
I've got you point. Yes, this is a bug from the time when there was no re-build. Thanks!
Listener should be saved anyway and called if styles already built:
[code]

[2019-06-26 15:30] vitalets commented on #110
hi @jibraniqbal666
Could you check with fresh install of RN 0.59.9 is this behavior exists?

[2019-06-27 02:55] dhl1402 commented on #109
Great! I think we need a way to remove the listeners. Maybe return an unsubscribe function or return the index of listener and expose an unsubscribe function

[2019-06-27 09:27] vitalets commented on #109
I think we can introduce `unsubscribe` function:
[code]

By the way could you describe your workflow with subscription?
Originally it was done for defining components on the first tick. But it seems to me there are other use-cases.

[2019-06-27 14:50] dhl1402 commented on #109
I don't use subscription for defining components but for re-calculating styles after theme change as mentioned in #47

[2019-07-04 17:02] Rodrigo77777 commented on #110
I just checked a fresh install on 0.59.10, seems EStyleSheet.create is not creating the style objects within it correctly? Cannot read property 'width' of undefined.

[2019-07-04 18:32] jibraniqbal666 commented on #110
@Rodrigo77777 thanks for checking out, I was busy, that is why I was not able to send reproducible procedure on the bug. it is definitely a bug, we use Dimension.get('screen') to get the width for now.

[2019-07-05 09:06] Rodrigo77777 commented on #110
@jibraniqbal666 Seems like it might be an issue with percentage values on the width right?

[2019-07-05 11:02] Rodrigo77777 commented on #110
@vitalets temporarily replaced EStyleSheet for react native's Stylesheet, and the app ran correctly. Not sure if the information helps, but thought it might

[2019-07-05 15:12] vitalets commented on #110
Just tested with fresh install of RN 0.59.10 and default generated app - everything works for me
Changed `StyleSheet` -> `EStyleSheet` in `App.js`:
[code]

Env:
[code]

Could you provide more details?

[2019-07-05 16:51] #109 closed

[2019-07-08 13:17] Rodrigo77777 commented on #110
Hey @vitalets turns out my specific issue was bubbling up from a new issue with babel completely unrelated to EStyleSheet. I'll leave it to @jibraniqbal666 to provide further details on the issue he is experiencing.

[2019-07-19 01:35] juriuschakow commented on #81
Hi!
Consider this article here. I had the same problem.
https://medium.com/react-native-training/build-responsive-react-native-views-for-any-device-and-support-orientation-change-1c8beba5bc23

https://github.com/marudy/react-native-responsive-screen

[2019-07-25 18:43] diosney opened #111 "How to use it along `react-native-elements` ThemeProvider?"
#### Steps to Reproduce

1. Install both `react-native-elements` and `react-native-extended-stylesheet`.

2. Follow the steps at:
https://react-native-training.github.io/react-native-elements/docs/customization.html
to use the default global Themes.

3. In the Global themes configuration, which is a regular object, not a StyleSheet object, try to set some values to 'rem' values using EStyleSheet.c

[2019-07-25 20:03] diosney commented on #111
I could separate the global styles into components with the styles baked in, but I wanted to know if there was a better way to get the compiled styles with the correct values before passing them to the theme provider.

[2019-07-30 18:35] alejandrorangel opened #112 "Using Or operator stylesheet"
Does `OR` works on stylesheet? I'm trying to apply the following style
[code]

But the `OR` logic operator does not seem to work, there are a couple of examples using `AND` but I couldn't find one using `OR`

[2019-08-09 16:04] awdhootlele commented on #9
Is there any workaround to achieve this? I am currently updating the Dimensions using the addEventListener event -

[code]

And on the component, updating the View's width and height to match to that of the Screen when the layout changes  -

[code]

But, it's not updating the layout as per defined by EStyleSheet.create() in each subsequent components. Am I missing something?

[2019-08-23 19:19] #107 closed

[2019-08-29 17:28] wscourge opened #114 "Missing LICENSE.md"
Please add LICENSE.md file to this repository, so people (like myself) can acknowledge it in their projects.

[2019-09-02 10:04] pacientk opened #115 "Attribute "rgba(255,255,255,.7)" missed quot(")!!"
How to rid from React Native Debugger warning:

![image](https://user-images.githubusercontent.com/19683664/64106379-bce2d100-cd80-11e9-9efe-d9f4bbc836d5.png)

[xmldom warning] attribute "rgba(255,255,255,.7)" missed quot(")!! YellowBox.js:67

Of course I tried to change quotes to " and ' and ` - no result

[2019-09-13 13:42] #110 closed

[2019-09-15 21:47] juriuschakow opened #117 "Question: Have you also minded the DP problem?"
Hi! Can I use the REM feature provided in your library without a problem, or do I have to use this library here because of the DP problem?

https://github.com/marudy/react-native-responsive-screen
https://medium.com/building-with-react-native/how-to-develop-responsive-uis-with-react-native-1x03-a448097c9503

Sorry for the dumb question I am a beginner.

Thank you very much!

[2019-09-22 07:44] sarifmia opened #118 "CSS intellisense not working"
Is there anyway we can make css intellisense working inside EStyleSheet.create for vscode.

[2019-09-22 13:25] pistou commented on #66
I prefer using this approach, as I don't have to *import globalStyles* when I need them:
[code]

[2019-09-23 21:01] diosney commented on #111
Anything?

[2019-09-29 20:01] ue opened #119 "Not working with "react-native": "0.61" until fast refresh reload"
[code]

in debug mode first opening the stylesheet not working until fast refresh via `61`

[2019-10-04 15:27] vitalets commented on #119
hey @ue ! I will recheck.
Could you clarify what do you mean under "fresh reload"?

[2019-10-05 10:45] mahajan8 commented on #9
let {height, width} = Dimensions.get('window');
const wid = width<height? width:height

EStyleSheet.build({
  $rem: wid/360
});

For a 360pixel standard width device rem would be 1 and you can use '10rem' instead of the static 10 pixel, and for corresponding lower width device, rem decreases and the opposite for larger devices. So, the design will remain same on every device and both orientations

[2019-10-05 10:56] ue commented on #119
Hi @vikrantnegi  thanx for interesting the issue,

the latest release for react-native came with default enhanced hot reload that means. It working like before as hot reload. When started the application as debug mode the app getting error cuz of the styles not recognized for first starting. Until doing fast refresh it start to recognize again.
That's the error. If you have time to try with latest

[2019-10-05 11:06] vikrantnegi commented on #119
@ue I think you mistakenly tagged me instead of @vitalets

[2019-10-09 07:37] detroit007 opened #120 "ReferenceError: Can't find veriable: style"
#### Steps to Reproduce
it's totally not able to find style variable I deleted all of them just until there is only one on the page but still, that one style variable showing error.
#### Expected Behavior

#### Actual Behavior

ReferenceError: Can't find veriable: style
This error is located at:
in App(at renderApplication.js:40)
in RCTView (at AppContainer.js:101)
in RCTView (at AppContainer.js:1

[2019-11-01 09:27] progsmile commented on #120
@detroit007 try to wipe data from emulator and that start again
Seems like it's not library error

[2019-11-07 06:20] Subway19 commented on #117
I use both libraries. No issues yet.

[2019-11-07 08:07] pacientk commented on #115
Yes, it still relevant.
I didnt found solution for it. Can you help me with it?

[2019-11-08 05:48] imAliAzhar commented on #9
I created a small library for this purpose which we are using at work and faced issues with event listening approach.
When using `Dimensions.addEventListener` it's not enough to just to switch the styles. We also need to force the component to re-render to pick up the updated styles. And when the component unmounts, the event handler needs to be removed with `Dimensions.removeEventListener` as wel

[2019-11-09 11:37] mdivani commented on #119
Got the same issue, I need to reload whole app for styles to be available. is there a way to call styles.build asynchronously, cause that would solve my issue.

[2019-11-20 05:13] vitalets commented on #119
Hi guys, can't reproduce the issue:
1. just created fresh Rn 61 app `npx react-native init EStyleSheetRN61`
2. checked that it's working
3. installed estylesheet `npm i react-native-extended-stylesheet --save`
4. imported it to `App.js`, replaced `StyleSheet.create` with `EStyleSheet.create`, add `$textColor: 'red',`.
5. added `EStyleSheet.build()`
6. re-launch the project - everything works
7. ch

[2019-11-20 05:22] vitalets commented on #114
Added in f5d8734d04161c48adb059a7aada6b63aceec9a5

[2019-11-20 05:22] #114 closed

[2019-11-25 11:40] castrolem opened #124 "Multiple rem decimal values cause a crash on Android"
#### Steps to Reproduce

1. We are calculating our sizing on rems using a custom function that might return multiple decimals depending on the value.
2. This function in a simplified way looks something like `number / unit` === `remAmountWeWantToUse`. For example a test of it results into `expect(customFn(12.5, 16)).toEqual('0.78125rem');`
3. Using this value in a `EStylesheet.create({awesomeText:

[2019-11-25 16:56] yvbeek commented on #118
If you are using TypeScript, you can do the following:

[code]

That should give you code completion on the styles.

[2019-11-27 09:22] castrolem commented on #124
I'm going to close this issue, seems like a very narrow use case tbh and by decreasing the amount of numbers, we haven't seen any other crash. 👍

[2019-11-27 09:22] #124 closed

[2019-11-29 14:28] vitalets commented on #112
It seems you should use comma instead of `OR`:
[docs](https://css-tricks.com/logic-in-media-queries/)

[2019-11-29 14:45] vitalets commented on #111
@diosney good point.
`EStyleSheet.create()` as object property seems good for storing compiled styles.
Could you clarify what actually you feel can be improved?

[2019-11-29 14:47] vitalets commented on #9
@imAliAzhar Could you share the link to your library?

[2019-11-29 14:53] vitalets commented on #115
@pacientk Could you show the code?

[2019-12-02 09:40] ue commented on #119
I just reinstall and clear cache build etc. it works for me. Thanks, closing @vitalets

[2019-12-02 09:40] #119 closed

[2019-12-04 02:44] hustcer commented on #69
+1

[2019-12-05 15:50] pacientk commented on #115
what the code specific?

This is the warnings:
![image](https://user-images.githubusercontent.com/19683664/70250981-6d4ce080-1787-11ea-8fcc-6edf9252359b.png)

This is example of global styles of project:
![image](https://user-images.githubusercontent.com/19683664/70251213-c3218880-1787-11ea-96ca-122bb24a0c9f.png)

[2019-12-06 23:44] yvbeek commented on #118
TypeScript is kinda amazing. I've played around with it a bit more and I came up with this. It should give you proper intellisense / autocomplete:

[code]

Example usage:
[code]

@vitalets Would this be something that you can use in the `.d.ts`?

The interesting line is `type EComponentStyle = ...`. That merges the regular styles definition with a copy of the style definition that allows the value

[2019-12-11 16:23] yvbeek commented on #118
The solution above would have some problems if you are trying to set the `textShadowOffset`.

This one should allow any value, but still give you code completion:

[code]

[2019-12-18 03:20] carl0804 opened #125 "Not working with RN 0.61+ both on Android and IOS"
#### Environment

I changed fontSize from 1 rem to 10 rem, and changed color, but nothing changed on my Android and IOS simulator.

MyCode:
[code]
Dependencies:
[code]
Mac os: 10.15.1

[2019-12-20 11:23] carl0804 commented on #125
Sorry, I forget to build first.

[2019-12-20 11:23] #125 closed

[2020-01-07 09:44] #120 closed

[2020-01-13 07:07] #117 closed

[2020-01-19 13:24] pacientk commented on #115
Is there any solution?

[2020-01-30 04:21] andreferi3 commented on #19
@esutton you should set allowFontScalling: false on root of ur project, i set this in app.js.

`render() {
   Text.defaultProps = {
      ...(Text.defaultProps || {}),
      allowFontScaling: false
    }
   return(
      ....
  )
 }`

[2020-02-04 15:01] #112 closed

[2020-02-06 15:24] leobetosouza commented on #115
Probably the solution is use `$black_90: "'rbga(0, 0, 0, .9)'"` or `$black_90: '"rbga(0, 0, 0, .9)"'` on every statement. Sadly I am without time to try this.

[2020-02-08 18:41] pacientk commented on #115
Thx. I will try...

[2020-02-11 21:36] AAAstorga commented on #118
@yvbeek Is there a way to support media query on the style level?
[code]

[2020-02-12 22:03] lc3t35 opened #127 "Styles disappear after sdk36/ react-navigation v5 update"
#### Steps to Reproduce
I've migrated an existing sdk35/react-nativation 4 to sdk36/react-navigation 5, I have a strange thing: all my styles done with react-native-extended-stylesheet aren't recognized :
in styles.js, I have just an

export default EStyleSheet.create({ container: { flex: 1 }, ... }),

and used as

import styles from './styles',
... render() ...
<KeyboardAvoidingView
   style={sty

[2020-02-12 23:33] lc3t35 commented on #127
Missing EStyleSheet.build ! My bad.

[2020-02-12 23:33] #127 closed

[2020-02-26 11:08] danieldelouya opened #128 "Is this repo working with RN 0.61.5?"
#### Steps to Reproduce
Installed the repo. Imported it in a screen. It doesn't render anything from the StyleSheet when it's `EStyleSheet.create` instead of the default `StyleSheet.create`

#### Try in Expo
Not using expo.

#### Expected Behavior
Expected it to just work (recognize the styles in the stylesheet)

#### Actual Behavior
Styles not recognized.

#### Show the code
`const styles = EStyl

[2020-03-02 16:14] AgustinGMartinez commented on #128
Same problem.

[2020-03-06 18:14] marcpassarelli commented on #128
@danieldelouya I was facing the same issue but then I realized that I was forgetting to call EStyleSheet.build() in app entry point. Not sure if that would be your case.

[see here in the 2.](https://github.com/vitalets/react-native-extended-stylesheet#usage)

[2020-03-11 09:48] zackfly commented on #108
@git-pwn  i builded in app.js .but not work how to solve ?

[2020-03-14 05:07] yvbeek commented on #118
Getting closer to a fully working definition:

[code]

@AAAstorga With this one media queries should work

Do we have a TypeScript expert that could fix the return type?
So that we can have autocomplete on the result?

[2020-03-14 19:29] yvbeek commented on #118
The return type of this one is a bit smarter:

[code]

[2020-04-13 09:39] #115 closed

[2020-04-14 20:26] artsra opened #130 "Math operations not performed on transform prop"
#### Steps to Reproduce
Using   "version": "0.12.0"

See snack below. Removing the two indicated lines in my_component fixes the vertical transform
I think this is a problem here:

[code]
At some point the following prop is processed by calcStyleValue:

[code]
`calcStyleValue` finds that a new Value().calc() must be performed, but the calc() just proxies the value because it's an array. The new (p

[2020-04-19 00:53] ItsWendell commented on #9
If it ever might help someone, I recently implemented `orientation-change-support` by creating a wrapper component that if there are any media queries, it will create a new stylesheet which cases the component to re-render with the proper styling.

[Code of the wrapper component can be found here.](https://github.com/ItsWendell/emotion-native-extended/blob/develop/src/responsive.tsx)

I'm using th

[2020-04-21 04:33] FrederickEngelhardt commented on #128
I was on 0.61.5 and had no issues. Also no issue on 0.62.2. Betting it's an entrypoint issue.

[2020-04-27 18:10] nicolasburtey opened #133 "types missing?"
I'm losing types suggestion from Visual Studio Code if I use EStyleSheet. Do I need to install anything beyond "react-native-extended-stylesheet" to get the types as I have them with StyleSheet?

#### Environment
System:
    OS: macOS 10.15.3
    CPU: (8) x64 Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
    Memory: 273.95 MB / 16.00 GB
    Shell: 5.0.16 - /usr/local/bin/bash
  Binaries:
    Node: 10.1

[2020-05-01 06:32] vitalets commented on #133
No. Types are included in [index.d.ts](https://github.com/vitalets/react-native-extended-stylesheet/blob/master/types/index.d.ts). Could you check with some other package having types in `index.d.ts`?

[2020-05-03 02:41] nateblog opened #134 "The package returns an empty object"
#### Steps to Reproduce
1. install the package
2. import the package `import EStyleSheet from 'react-native-extended-stylesheet';`
3. then use it

#### Expected Behavior
The package **EStyleSheet** should return an object that contains all the style properties.

#### Actual Behavior
It returned an empty object

#### Show the code
[code]

#### Environment
"react-native": "0.61.5",
"react-native-ext

[2020-05-05 13:57] neXorianus commented on #133
can confirm this in Visual Studio Code.
React.StyleSheet.create():
![image](https://user-images.githubusercontent.com/1299616/81073419-e6dc2c80-8ee7-11ea-85df-624819467246.png)
EStyleSheet.create():
![image](https://user-images.githubusercontent.com/1299616/81073547-1428da80-8ee8-11ea-8ff6-cfee2e214bc7.png)

The problem is, that you define the properties of the create object as
[code]
(this plugin

[2020-05-05 14:49] neXorianus commented on #118
@yvbeek did you get back full EStyleSheet IntelliSense with your types?
And if yes, where did you put it to be recognized?

[2020-05-05 20:44] yvbeek commented on #118
@neXorianus I revisited the styles today and this is the best I could come up with so far:

[code]

In my project, this code lives in a file: `styles/index.ts`

This is how I use it:

[code]

[2020-05-06 17:32] RobertFischer opened #135 "'unsubscribe' not in TypeScript Type"
#### Steps to Reproduce
  1. Look in `api.js` and see that there is, indeed, an `unsubscribe` method implemented there.
  2. Look in `index.d.ts` and see that there is *not* an `unsubscribe` method documented there.

#### Expected Behavior

I would have expected `unsubscribe` to be documented in the type.

#### Actual Behavior

Typescript complains that `unsubscribe` is not a method in the type.

[2020-05-08 22:19] tpiecora opened #137 "build in entrypoint not working, but build in specific stylesheet file works"
#### Steps to Reproduce
I am importing EStyleSheet in my entrypoint, App.jsx, and calling build.
Each of my components has it's own file for styles that is imported into that specific component
I have converted all my component stylesheets over to EStyleSheet.

#### Expected Behavior
I would expect the styles to be calculated when the app loads.

#### Actual Behavior
When the app loads, any compon

[2020-05-11 14:41] #137 closed

[2020-05-14 13:25] neXorianus commented on #118
This solution works like a charm.
Could you open a PR for this, so @vitalets can pull it to the repo?

[2020-05-15 09:01] mutablestudio opened #138 "rem usage breaks styles in RN 62 w TypeScript"
Hello - not sure if I'm doing something wrong or if the issue is TypeScript but when I try to use rem in `EStyleSheet.create` the view using the style will not render and nothing after it will render either. When I change to 34 instead of `'34rem'` it will render properly.

[code]

I'm also trying to use `EStyleSheet.build` in `App.tsx` to set a global $rem def but this doesn't seem to fix the iss

[2020-05-15 09:43] mutablestudio commented on #138
I moved `EStyleSheet.build` to index.js and this fixed the issue

[2020-05-15 09:43] #138 closed

[2020-05-16 23:04] yvbeek commented on #118
@neXorianus I've created the PR. It probably won't be merged because it would break existing code. But for most people this should provide some decent autocomplete.

Please try out my fork:

**package.json:**
```"react-native-extended-stylesheet": "yvbeek/react-native-extended-stylesheet"```

[2020-05-27 18:34] vrgimael commented on #65
Does anybody know if this actually works with react-native-web in 2020?

[2020-06-17 08:29] swizes commented on #83
Changing return of the screen to null is not a solution, it is just a dirty fix. A normal theme change should be smooth not like displaying nothing and re-displaying with changed theme...

[2020-06-20 17:22] Vijaysuryawanshi1993 commented on #88
Hi,
try
width: () => EStyleSheet.value('$largeImageSize'),
height: () => EStyleSheet.value('$largeImageSize'),

[2020-06-21 00:08] #130 closed

[2020-06-27 11:08] #128 closed

[2020-07-06 07:42] neXorianus commented on #133
this is not solved in behalf of the opening post.

[2020-07-06 07:44] neXorianus commented on #135
same as #133
looks like ts support is badly implemented.

[2020-07-08 17:43] ipakhomov commented on #134
@nateblog I noticed, that you use call `EStyleSheet.build({ ...your styles here })` to create styles - this function does not return anything. Please try to create your styles using `EStyleSheet.create({ ...styles here })` instead.

Also, maybe [this comment](https://github.com/vitalets/react-native-extended-stylesheet/issues/82#issuecomment-380143248) may help you?

[2020-07-30 20:46] ildaneta opened #141 "Styles are not being applied when I try to use EStylesheet"
#### Steps to reproduce

  1. I downloaded the lib using yarn
  2. I tried to use it in a project in the Windows environment
  3. When using EStylesheet, the style is not applied, it only applies when using react-native's native styleSheet

#### Expected behavior
 I would like the style to be applied with EStylesheet

#### Real behavior
The style is only applied when using the native StyleSheet

#

[2020-08-01 08:18] rawatmanoj opened #142 "Intellisense is not working when using extended style sheet"
After using extended stylesheet instead of the default stylesheet Intellisense is not working in vscode.

[2020-08-01 20:29] kumar303 opened #143 "SyntaxError with jest, babel, and react-native-web"
#### Steps to Reproduce

Is there something I'm missing to set up Jest? I get this when Jest runs my test:

[code]

The stack trace points to the first place my app under test tries to import `react-native-extended-stylesheet`.

I tried adding `__mocks__` like [the jest-testing example](https://github.com/vitalets/react-native-extended-stylesheet/tree/master/examples/jest-testing) but I get the sa

[2020-08-10 19:09] #141 closed

[2020-08-10 19:10] ildaneta commented on #141
The error occurred due to not placing the build at the root of the application.

[2020-08-18 12:54] SrBrahma opened #144 "[Feature] Add shadow support"
Hey, just discovered this lib.

When I add a shadow to a component, I use https://ethercreative.github.io/react-native-shadow-generator/ to have a similar appearance in android and ios. It looks like this lib could easily implement a new shadow prop that would generate the values like this site does.

[2020-08-19 12:17] sushmitg opened #145 "VS Code Go to definition not working."
`<View style={styles.modalContainer}>`

In the code above if my cursor is in `modalContainer` and I hit `f12` key, the VS Code's **go to definition** doesn't take me to the file `style.js` which is located in same directory. It works if I click on `styles` in `styles.modalContainer` though.

[2020-08-31 13:57] ys-sherzad commented on #50
@BlaShadow hi, I am using `.value` for in-line styling, although I haven't had any issues so far, but that point got me a bit worried
in `render`
[code]
is the above wrong to do! and if so, what's the alternative in this case?

[2020-08-31 18:32] BlaShadow commented on #50
@ys-sherzad

`<ActivityIndicator size="small" color={() => EStyleSheet.value('$primary')} />`

[2020-09-02 10:36] ragecryx opened #146 "Ambiguity about aspect-ratio media query - screen vs window area"
It should be clear as to which aspect ratio the library checks against. And if both can't be supported then the one supported probably needs to be the Screen area not the Window area as it currently is.

#### Steps to Reproduce
1. Have a project using the library
2. Make sure it has a media query like `@media (aspect-ratio: 9/16)`
3. Run the project in an android device with 9/16 aspect ratio but

[2020-09-08 18:55] neXorianus commented on #133
push

[2020-09-09 12:49] efoken opened #148 "Don't convert rem to pixels for React Native Web"
#### Expected Behavior

As React Native Web supports `rem` values, they don't have to be converted to pixels by this library.

#### Actual Behavior

`rem` values are converted to a pixel value.

#### Show the code

[code]

Expected output:
Web: `fontSize: '1.25rem'`
Native: `fontSize: 20`

#### Environment

Expo 38

[2020-09-09 12:51] efoken commented on #19
`rem` values for Web should not be converted to pixels. React Native Web supports it 😄 #148

[2020-09-12 16:06] #135 closed

[2020-09-13 23:24] #134 closed

[2020-09-23 13:37] sushmitg opened #149 "Name of variable or property with percent value should contain (height,top,bottom,vertical,width,left,right,horizontal) to define base for percent calculation"
I have following code :

[code]

This is not working. Throwing following error:
`Error: Name of variable or property with percent value should contain (height,top,bottom,vertical,width,left,right,horizontal) to define base for percent calculation`

[2020-10-02 13:54] anisimov74 commented on #59
@vitalets thanks for the library! It's really helpful.
Regarding this common style. I see no way to create common styles that use color variables.
An example:
[code]

[2020-10-06 13:55] beDenz commented on #142
Same issue. Vs code + typescript

[2020-10-10 07:52] #143 closed

[2020-10-28 13:50] yfunk commented on #118
@yvbeek Thanks for your work on improving the type definitions, it makes working with this package and TypeScript much more pleasant. I wanted to let you know that the mentioned key augmentation feature [has been implemented](https://github.com/Microsoft/TypeScript/issues/12754#issuecomment-684063310) in the TypeScript 4.1 Beta, maybe that is something that could help with further improvements.

[2020-11-01 07:26] #144 closed

[2020-11-01 07:26] #145 closed

[2020-11-03 09:03] dimgrav commented on #146
Still open

[2020-11-03 09:25] ragecryx commented on #146
After some thought it's good that the library means the available space because you can have split-screen apps for example and you may want to adapt the UI properly. So adding something like `screen-aspect-ratio` should be the best solution.

[2020-11-17 19:50] plaporte commented on #53
@deadcoder0904 What's the final solution to get this working? I couldn't quite follow.

[2020-11-17 20:24] plaporte opened #150 "EStyleSheet.build is not updating/re-rendering all EStyleSheets/components every time I call it"
#### Steps to Reproduce
1. I  am making an API call when I log into my app and storing that value (a color) in a Redux Reducer. I then call this reducer to get the value of the color:

[code]

Then I set the value with EStyleSheet.build:

[code]

I then have my styles set in an external styles.js file like so:

[code]

#### Expected Behavior
All components or stylesheets that use global styles re-

[2020-11-18 03:11] deadcoder0904 commented on #53
@plaporte idk now. it's been 3 years lol since i last used rne, maybe u can ask @vitalets or check the examples :)

[2020-11-27 19:07] jonathanm-tkf commented on #142
any news for this>
?
thanks

[2020-12-06 19:38] #149 closed

[2020-12-23 12:28] eswarant commented on #9
is someone still looking solution for this feature?

[2020-12-23 17:42] raarts commented on #9
I think this needs to be managed outside extended stylesheet.

[2020-12-24 05:00] eswarant commented on #9
I want to use this library to create React Native app that should be responsive for ipad & mobile. If possible please share the code or idea to apply media query when orientation is changed.

[2020-12-26 17:54] raarts commented on #9
A bit old but the idea still stands:

https://link.medium.com/5MwHmZbmxcb

Op do 24 dec. 2020 om 06:00 schreef eswarant <notifications@github.com>

[2021-01-21 01:44] haveamission opened #152 "Responding to Media Queries on window resize in React Native Web"
Is there a way to respond to window resize events and automatically re-calculate all of the Media Queries for the new window size?

[2021-01-21 05:31] haveamission commented on #150
@plaporte Did you find a solution to this?

[2021-03-05 15:09] vitalets commented on #142
duplicate #118

[2021-03-05 15:09] #142 closed

[2021-03-05 15:28] vitalets commented on #146
Ca not it be solved with `min-aspect-ratio` and `max-aspect-ratio`? Like this:
[code]

Sorry for late response.

[2021-03-05 15:41] vitalets commented on #150
@plaporte Re-building styles does not automatically update all components of the app, because it's not trivial.
Please have a look on https://github.com/vitalets/react-native-extended-stylesheet/issues/47#issuecomment-314760557 for more details.

[2021-03-05 15:41] #150 closed

[2021-03-05 15:45] vitalets commented on #69
So finally I think there will be more problems than profit from that feature.

[2021-03-05 15:45] #69 closed

[2021-03-05 15:49] vitalets commented on #152
@haveamission This is related to dynamic theme change, see [#caveats](https://github.com/vitalets/react-native-extended-stylesheet#caveats). You can manually subscribe to `resize` event and rebuild styles. The problem is how to re-render all components of the app. Please see https://github.com/vitalets/react-native-extended-stylesheet/issues/47#issuecomment-314760557 for details.

[2021-03-05 15:49] #111 closed

[2021-03-05 16:03] vitalets commented on #81
Here are possible solutions: https://stackoverflow.com/questions/52449976/how-to-use-vw-and-vh-css-with-react-native

[2021-03-23 15:21] jsartisan opened #154 "Is this repo active?"
Hi there, great work with this repo.

I recently created a UI library and want to include support for media queries too in it and I was thinking to use your library for it - https://magnus-ui.com/
Before I do that, I wanted to know are you doing active development on this library?

[2021-03-24 21:29] juriuschakow commented on #154
lol i just came here to ask the same question 😂😂
but i've got one more question:
is this library actually also minding the dp problem scale factor problem? explained here https://medium.com/react-native-training/build-responsive-react-native-views-for-any-device-and-support-orientation-change-1c8beba5bc23
if this library is also minding this problem then this library is the hottest underrated libr

[2021-03-27 05:11] jsartisan commented on #154
@vitalets any update? I really want to use this library and build an ecosystem with this.

[2021-04-14 09:22] vitalets commented on #154
Hey @jsartisan!

Currently I would say that is't not active, unfortunately(
I'd suggest to check [alternatives](https://github.com/jondot/awesome-react-native#styling) for your UI library or maybe use plain StyleSheet objects.

[2021-06-21 03:22] Dd-ouni commented on #22
Is this code still valid? I need a static theme scheme

[2021-06-23 11:31] #146 closed

[2021-06-23 11:31] #152 closed

[2021-07-01 20:50] #154 closed

[2021-09-07 09:51] ahmedam55 commented on #56
Thanks a lot for the help @vitalets

[2021-09-23 07:30] ahmedam55 commented on #118
Thanks a lot for your hard work, @yvbeek!

Thanks to you I have very decent CSS auto completion and solid "go to definition" functionality.

[2021-12-03 05:03] KPS250 commented on #63
@ShrinathGupta how did you solve this? Facing the same issue

[2021-12-13 21:40] erzzo commented on #133
I'm experiencing the same issue

[2021-12-19 17:25] thoughtassassin opened #166 "Doesn't compile array of styles with destructured classes in Android"
#### Steps to Reproduce
  1. Create a view with an array of styles like: <View style={[container, style]}>
  2. Destructure the properties from the create method (e. g. const {style1,  style2, style3} = EStyleSheet.create({ )
  3. All of the styles do not get compiled and / or show on the screen on the first time it compiles and runs.

#### Try in Expo
https://snack.expo.dev/5jUHFOmD7

#### Expect

[2021-12-20 15:04] yashspr commented on #50
Please note that there are certain characters that you shouldn't use in your global variable names such as `.`, `-`, etc. I made the mistake of defining my global variables in this way, using `.` / `-` which caused the error:

[code]

After going through the code, I realized that these characters are related to mathematical operations and hence causing an error. Replaced with an `_` and works fine

[2021-12-26 19:51] thoughtassassin commented on #166
I am reopening this issue. I was not able to reproduce it on Expo. However, I created a [screen recording](https://www.youtube.com/watch?v=WUE6rytOMdM) of what I am seeing. Any suggestions or help is appreciated.

[2021-12-28 03:48] ucheNkadiCode commented on #118
Thank you so much @yvbeek This is a fantastic wrapper that was so easy to implement! Amazing!

[2021-12-30 20:49] thoughtassassin commented on #166
I finally was able to recreate the issue in Expo. It turns out that the combo of destructuring the css classes from the object and then using those classes in the array in a component's style property does not work. For some reason in my project if I save the file with hot module reload, the styles work. They do not work at compile time with the properties set that way.

[2022-01-12 21:33] tghpereira opened #167 "Variable integration for styled-components/native"
**Hi guys, great job!**
Is there a possibility of integration and availability of variables for styled-components/native?

[2022-03-01 00:01] borasumer commented on #167
You mean using the wp and hp in the styled-components/native? It is possible with string interpolation if that is what you have asked.

[2022-04-02 02:47] Sir-Dazzling commented on #118
Thank you @yvbeek this helped me a lot

[2022-04-27 21:51] #166 closed

[2022-05-12 04:33] FrederickEngelhardt opened #170 "typing resolution suggestions"
#### Steps to Reproduce

#### Expected Behavior
Expect to resolve the object and key location in the .ts file.

#### Actual Behavior
The typings resolve to the node_modules/react-native-extended-stylesheet/types/index.d.ts declaration file
[code]

#### Show the code
Possible temp fix is to have a basic object and then export the EStylesheet and coherce the type as a typeof the raw object.

Example

[2022-05-16 07:29] kevinmartin-jvs commented on #47
My method is in a HOC, but you can adapt it…
My solution for recompiling styles when resizing the window is as follows
at the onLayout event hide and redisplay the component to take into account the new compiled style

**withResponsive.ts**
[code]

[2022-05-25 10:32] ni3ra5 commented on #154
This looked really cool.
Will this ever get active again or does it have any equivalent alternatives ?

[2022-06-07 14:11] sourabhAfunky commented on #63
@ShrinathGupta could you provide the solution?

[2022-07-17 02:04] ningacoding commented on #130
This issue persists.

[2022-07-29 04:01] liquidvisual opened #172 "[feature request] Variables for media query breakpoints"
Great library! I wish I'd found this sooner.

I'm using a lot of media queries for iPad layouts and it'd be really handy to be able to store breakpoints as variables like we can with values.

Example:

[code]
[code]

I tried to use template strings instead, but it unfortunately throws a compilation error. Any chance we could see this as a built-in feature?

[2022-07-29 05:54] liquidvisual commented on #9
I think the docs should be updated to state that dynamic orientation doesn't actually work. From first impression I thought this was a working feature and I was just implementing it incorrectly.

[2022-08-04 19:00] NeRo8 opened #173 "Use colors object inside EStyleSheet.create"
I have dumb component, and for getting access to colors I must use EStyleSheet.value.
`
const DumbComponent = () => {
  const [isActive, setActive] = useState(false);

  //Current realisation
  const activeBackground = EStyleSheet.value('$red');
  const disabledBackground = EStyleSheet.value('$blue');

  return (
    <BumbElement color={isActive ? activeBackground : disabledBackground} />
  );
};

[2022-08-20 04:17] vishrut commented on #63
Adding the the package name to `transformIgnorePatterns` in the jest config fixes the module import related issue.

[code]